Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

CNF-23722: fix misleading HasMetrics comment
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23722: fix misleading HasMetrics comment (#3412)
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Rename x-skip-audience-validation to x-allow-default-audience
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/overlay.yaml
  internal/service/alarms/serve.go
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24431: add upgrade business-rule validation to PR webhook (#3365)
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/clustertemplate_controller.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix(e2e): filter AllocatedNode check by NAR and strip finalizers in cleanup
  test/e2e/mno_cv_upgrade_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: none

fix(e2e): filter AllocatedNode check by NAR and strip finalizers in cleanup (#3437)
  test/e2e/mno_cv_upgrade_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: none

catalog: restrict upgrade path from v4.22.0 to v4.22.1
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-24434: Auto-select EUS intermediate version from Cincinnati graph
  .coverage-thresholds.yaml
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  config/rbac/role.yaml
  docs/dev/e2e-test-overview.md
  go.mod
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/cincinnati/cincinnati.go
  internal/controllers/utils/cincinnati/cincinnati_test.go
  internal/controllers/utils/upgrade.go
  internal/controllers/utils/upgrade_test.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/fakeclient/fakeclient.go
  vendor/golang.org/x/net/http/httpproxy/proxy.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Move immutability validation from CEL rules to webhook
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25914: Add FirmwareCatalog CRD, controller, and webhook
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  api/hardwaremanagement/v1alpha1/suite_test.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/firmwarecatalog_controller.go
  internal/controllers/firmwarecatalog_controller_test.go
  must-gather/gather
  test/fakeclient/fakeclient.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Fix CI lint and formatting issues
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  internal/controllers/firmwarecatalog_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix CEL validation rule cost exceeding Kubernetes budget
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add coverage threshold for api/hardwaremanagement/v1alpha1
  .coverage-thresholds.yaml
Due: none

Fix bundle-check: remove empty import from generated deepcopy
  api/common/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25871: Add optional audiences parameter to OAuth CRD section
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ocloud.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_inventory.yaml
  docs/user-guide/environment-setup.md
  internal/controllers/utils/oauth.go
  internal/controllers/utils/oauth_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/common/utils/config.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Run make fmt after generate
  Makefile
Due: none

Run make fmt after generate (#3489)
  Makefile
Due: none

chore: separate test-e2e from ci-job and fix git-diff pager
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  hack/check-git-tree.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore: separate test-e2e from ci-job and fix git-diff pager (#3511)
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  hack/check-git-tree.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore: separate test-e2e from ci-job and fix git-diff pager (#3512)
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  hack/check-git-tree.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore: fix crd-watcher screen overflow and add truncation message
  dev-tools/crd-watcher/tui.go
Due: none

chore: fix crd-watcher empty section overflow check
  dev-tools/crd-watcher/tui.go
Due: none

Address review feedback: remove redundant validation, add CRD to kustomization
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/kustomization.yaml
  internal/controllers/firmwarecatalog_controller.go
  internal/controllers/firmwarecatalog_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Change audiences list to single audience string
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ocloud.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_inventory.yaml
  docs/user-guide/environment-setup.md
  internal/controllers/utils/oauth.go
  internal/controllers/utils/oauth_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/common/utils/config.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Strengthen non-exempt path audience assertion to ConsistOf
  internal/service/common/auth/auth_k8s_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add missing FirmwareCatalog CRD to bundle manifests
  bundle/manifests/clcm.openshift.io_firmwarecatalogs.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

Exercise SetupOAuthClient in audience tests
  internal/controllers/utils/oauth_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25886: reference ACM-38075 in CSR approval workaround comments
  internal/controllers/provisioningrequest_clusterinstall.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25886: add MNO worker node scale-out support (Phase 1)
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  test/e2e/mno_scale_test.go
  test/resources/mno_scale/clusterinstance-defaults-v1.yaml
  test/resources/mno_scale/clusterinstance-defaults-v2.yaml
  test/resources/mno_scale/ct-scale.yaml
  test/resources/mno_scale/policytemplate-defaults-v1.yaml
  test/resources/mno_scale/pr-scale-initial.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25886: record FulfilledNodeCount on monitoring finalize path
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25886: address CodeRabbit review findings
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  test/e2e/mno_scale_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25886: add scale-out status tracking to ProvisioningRequest
  api/provisioning/v1alpha1/provisioningrequest_types.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-25886: remove stale NAR Provisioned guard
  internal/controllers/provisioningrequest_hwprovision.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25886: fix stale NAR Provisioned guard for day-2 hwProfile changes
  internal/controllers/provisioningrequest_hwprovision.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25886: address review feedback
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_hwprovision.go
  test/e2e/mno_scale_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25886: reject in-place node role changes in validateScaleWorkerOnly
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add FirmwareCatalog sample CR and CSV owned CRD entry
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
  config/samples/kustomization.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

Add specDescriptors and status to FirmwareCatalog CSV and sample
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-25871: Add optional audience parameter to OAuth CRD section (#3490)
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ocloud.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_inventory.yaml
  docs/user-guide/environment-setup.md
  internal/controllers/utils/oauth.go
  internal/controllers/utils/oauth_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/common/utils/config.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request
