Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

chore(deps): update quay.io/konflux-ci/konflux-vanguard/task-rpms-signature-scan:0.2 docker digest to 73471b2
  .tekton/build-pipeline.yaml
Due: none

trigger 4.20 bundle builds
  .konflux/overlay/pin_images.in.yaml
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: none

trigger 4.20 bundle builds (#769)
  .konflux/overlay/pin_images.in.yaml
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: none

trigger 4.20 fbc builds
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

add additional secret + fix yamllint misc
  .tekton/fbc-pipeline.yaml
Due: o-cloud-manager-fbc-4-20-on-push

fix fbc dockerfile path + yamllint misc
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: o-cloud-manager-fbc-4-20-on-push

Wait for BMH to become Available before powering off the host
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

update images-mirror-set.yaml apiVersion
  .tekton/images-mirror-set.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

fix fbc-pipeline.yaml indent
  .tekton/fbc-pipeline.yaml
Due: o-cloud-manager-fbc-4-20-on-push

add new idms config for the fbc its
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
Due: none

remove + gitignore catalog.yaml
  .konflux/catalog/.gitignore
  .konflux/catalog/README.md
  .konflux/catalog/o-cloud-manager/.gitkeep
  .konflux/catalog/o-cloud-manager/catalog.yaml
  Makefile
Due: none

use yq/opm from Makefile
  .konflux/Dockerfile.catalog
  Makefile
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

add tools to the path
  Makefile
Due: none

fix 4.20 fbc build (#772)
  .konflux/Dockerfile.catalog
  .konflux/catalog/.gitignore
  .konflux/catalog/README.md
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/catalog/o-cloud-manager/.gitkeep
  .konflux/catalog/o-cloud-manager/catalog.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
  Makefile
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

add automerge for .konflux via renovate
  renovate.json
Due: none

add automerge for .konflux via renovate (#773)
  renovate.json
Due: none

Add transient error retry handling for BMH errors
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
Due: none

Upversion to 4.20.0
  .konflux/overlay/pin_images.in.yaml
  Makefile
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: none

Upversion to 4.20.0 (#776)
  .konflux/overlay/pin_images.in.yaml
  Makefile
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: none

feat: implement crd-watcher tool with TUI and inventory management
  Makefile
  cmd/crd-watcher/README.md
  cmd/crd-watcher/formatter.go
  cmd/crd-watcher/inventory.go
  cmd/crd-watcher/main.go
  cmd/crd-watcher/tui.go
  cmd/crd-watcher/watcher.go
  go.mod
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update crd-watcher to avoid duplication of LabelPrefixResourceSelector const
  cmd/crd-watcher/watcher.go
Due: none

crd-watcher: Change warning logs to info with v=1
  cmd/crd-watcher/main.go
  cmd/crd-watcher/watcher.go
Due: none

Move crd-watcher to a dev-tools folder
  Makefile
  dev-tools/crd-watcher/README.md
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/inventory.go
  dev-tools/crd-watcher/main.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/watcher.go
Due: none

crd-watcher: Add retries around watch creation
  dev-tools/crd-watcher/watcher.go
Due: none

crd-watcher: Don't show negative AGE field
  dev-tools/crd-watcher/formatter.go
Due: none

Update unit tests due to restructuring
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update metal3 plugin unit tests
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager_test.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager_test.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller_test.go
  hwmgr-plugins/metal3/controller/suite_test.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/serve_test.go
Due: none

Wait for BMH to become Available before powering off the host (#767)
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Enable unit tests
  Makefile
Due: none

Fix linter errors
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/provisioning_server_test.go
  hwmgr-plugins/metal3/server/suite_test.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update golang version in Dockerfile.tools and .konflux
  .konflux/Dockerfile
  .konflux/Dockerfile.catalog
  Dockerfile.tools
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

Add comprehensive test documentation comments
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager_test.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager_test.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup_test.go
  hwmgr-plugins/metal3/controller/suite_test.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/provisioning_server_test.go
  hwmgr-plugins/metal3/server/serve_test.go
  hwmgr-plugins/metal3/server/suite_test.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update unit tests due to restructuring (#777)
  Makefile
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager_test.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager_test.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup_test.go
  hwmgr-plugins/metal3/controller/suite_test.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/mocks_test.go
  hwmgr-plugins/metal3/server/provisioning_server_test.go
  hwmgr-plugins/metal3/server/serve_test.go
  hwmgr-plugins/metal3/server/suite_test.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

feat: implement crd-watcher tool with TUI and inventory management (#775)
  Makefile
  dev-tools/crd-watcher/README.md
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/inventory.go
  dev-tools/crd-watcher/main.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/watcher.go
  go.mod
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update golang version in Dockerfile.tools and .konflux (#779)
  .konflux/Dockerfile
  .konflux/Dockerfile.catalog
  Dockerfile.tools
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

align to common konflux code in telco5g-konflux
  .gitmodules
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/overlay.bash
  .konflux/overlay/release.in.yaml
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
  .yamllint.yaml
  Makefile
  hack/bashate.sh
  hack/konflux-update-catalog-template.sh
  hack/konflux-update-task-refs.sh
  hack/konflux-validate-related-images-production.sh
  hack/markdownlint.sh
  hack/shellcheck.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

fix yamllint for dependabot
  .github/dependabot.yml
Due: none

stop konflux bundle builds (temporarily)
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: none
