Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

fix: add retry logic for service API concurrent update conflicts (#1639)
  internal/service/alarms/internal/alertmanager/config.go
  internal/service/alarms/internal/alertmanager/config_test.go
  internal/service/provisioning/api/api_suite_test.go
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Process all allocated nodes before marking NAR complete
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
Due: none

Process all allocated nodes before marking NAR complete (#1633)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
Due: none

ISSUE-1546: Update golang.org/x/crypto to v0.47.0 and remove workaround (#1636)
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Process all allocated nodes before marking NAR complete (#1642)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
Due: none

ISSUE-1546: Update golang.org/x/crypto to v0.47.0 and remove workaround
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

ISSUE-1546: Update golang.org/x/crypto to v0.47.0 and remove workaround (#1644)
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21239: Update FBC base image to 4.22
  .konflux/Dockerfile.catalog
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

chore(docker): update base image in Dockerfile.catalog to use the official OpenShift registry
  .konflux/Dockerfile.catalog
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

chore(docker): update base image in Dockerfile.catalog to use the official OpenShift registry (#1649)
  .konflux/Dockerfile.catalog
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Add the HostFirmwareComponents proposal
  docs/enhancements/inventory/extend-HostFirmwareComponents.md
Due: none

Bump github.com/metal3-io/baremetal-operator/apis from 0.12.0 to 0.12.1 (#1657)
  go.mod
  go.sum
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add basic Day2 hw configuration support for MNO with serial updates
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add basic Day2 hw configuration support for MNO with serial updates (#1681)
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add basic Day2 hw configuration support for MNO with serial updates (#1688)
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Update OWNERS_ALIASES (#1709)
  OWNERS_ALIASES
Due: none

Update OWNERS_ALIASES (#1715)
  OWNERS_ALIASES
Due: none

Update dependabot to avoid open-cluster-management.io/api until update to go 1.25
  .github/dependabot.yml
Due: none

Update OWNERS_ALIASES (#1718)
  OWNERS_ALIASES
Due: none

Cleanup yamllint warnings and update yamllint target to strict checking
  .github/workflows/kustomize-validation.yml
  Makefile
Due: none

Cleanup yamllint warnings and update yamllint target to strict checking (#1720)
  .github/workflows/kustomize-validation.yml
  Makefile
Due: none

CNF-21239: Update FBC base image to 4.22 (#1648)
  .konflux/Dockerfile.catalog
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Cleanup yamllint warnings and update yamllint target to strict checking (#1721)
  .github/workflows/kustomize-validation.yml
  Makefile
Due: none

Update dependabot to avoid open-cluster-management.io/api until update to go 1.25 (#1719)
  .github/dependabot.yml
Due: none

Fix resourceTypes endpoint to return real alarm dictionary data
  internal/service/resources/api/server.go
  internal/service/resources/collector/collector.go
  internal/service/resources/db/models/converters.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix resourceTypes endpoint to return real alarm dictionary data (#1726)
  internal/service/resources/api/server.go
  internal/service/resources/collector/collector.go
  internal/service/resources/db/models/converters.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Bump github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring (#1734)
  go.mod
  go.sum
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Modify existing inventory data types to 2.0.0 version...
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/mock_generated/mock_client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/api/server.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add deprecated comment in db migrations and db models
  internal/service/resources/db/migrations/000001_baseline.up.sql
  internal/service/resources/db/models/resource_pool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Upversion inventory api to 2.0.0 and add new data types...
  internal/service/resources/api/openapi.yaml
  internal/service/resources/utils/constants.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Implement db layer for v11 Location, OCloudSite and ResourcePool...
  internal/service/resources/db/migrations/000002_v11_locations_sites.down.sql
  internal/service/resources/db/migrations/000002_v11_locations_sites.up.sql
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/location.go
  internal/service/resources/db/models/o_cloud_site.go
  internal/service/resources/db/models/resource_pool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21398: Revise inventory resource API for enhanced hardware details
  docs/samples/git-setup/clustertemplates/inventory/dell-r740-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-r740-sno2.yaml
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  internal/service/resources/collector/collector_hwplugin.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push
