Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

Update user-guide/template-overview.md to remove bootInterfaceLabel and update boot label to boot-interface
  docs/user-guide/template-overview.md
Due: none

Add K8s node ready check for Day2 hardware configuration updates
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/node_readiness.go
  hwmgr-plugins/metal3/controller/node_readiness_test.go
  internal/controllers/metal3plugin_server_setup.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add K8s node ready check for Day2 hardware configuration updates (#1744)
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/node_readiness.go
  hwmgr-plugins/metal3/controller/node_readiness_test.go
  internal/controllers/metal3plugin_server_setup.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21398: Revise inventory resource API for enhanced hardware details
  docs/samples/git-setup/clustertemplates/inventory/dell-r740-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-r740-sno2.yaml
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  internal/service/resources/collector/collector_hwplugin.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21398: Revise inventory resource API for enhanced hardware details (#1742)
  docs/samples/git-setup/clustertemplates/inventory/dell-r740-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-r740-sno2.yaml
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  internal/service/resources/collector/collector_hwplugin.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21398: Revise inventory resource API for enhanced hardware details (#1763)
  docs/samples/git-setup/clustertemplates/inventory/dell-r740-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-r740-sno2.yaml
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  internal/service/resources/collector/collector_hwplugin.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Revert "Clear firmware spec fields after successful updates (#1565)"
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: none

Revert "Clear firmware spec fields after successful updates (#1565)" (#1766)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: none

Revert "Clear firmware spec fields after successful updates (#1565)" (#1767)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: none

upversion to 4.21.1
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

upversion to 4.21.1 (#1769)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

upversion to 4.21.1 - part II
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

upversion to 4.21.1 - part II (#1771)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Add annotation cleanup for error handling
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
Due: none

Add debug logging for firmware/BIOS update decision flow
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager.go
Due: none

Fix 'one update per cycle' issue preventing stale annotation cleanup
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
Due: none

Add annotation cleanup for error handling, Fix 'one update per cycle' issue preventing stale annotation cleanup (#1745)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager.go
Due: none

[release-4.21] Add annotation cleanup for error handling, Fix 'one update per cycle' issue preventing stale annotation cleanup (#1782)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager.go
Due: none

chore(deps): update o-cloud-manager to version 4.21.2
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

Upversion inventory api to 2.0.0 (v11 spec): http and db layers
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/mock_generated/mock_client.gen.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/serve.go
  internal/service/common/repo/repository.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/api/server.go
  internal/service/resources/collector/collector.go
  internal/service/resources/db/migrations/000001_baseline.up.sql
  internal/service/resources/db/migrations/000002_v11_locations_sites.down.sql
  internal/service/resources/db/migrations/000002_v11_locations_sites.up.sql
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/location.go
  internal/service/resources/db/models/o_cloud_site.go
  internal/service/resources/db/models/resource_pool.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_test.go
  internal/service/resources/serve.go
  internal/service/resources/utils/constants.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Test resource server rest handlers by repository mocks
  internal/service/resources/api/api_suite_test.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository_interface.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Generate rest api documentation by swagger ui
  Makefile
  docs/user-guide/inventory-api.md
  hack/swagger-ui.sh
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Create a deprecation middleware based on RFC 8594
  docs/deprecations/README.md
  docs/deprecations/TEMPLATE.md
  docs/deprecations/resource-pool-fields.md
  docs/deprecations/resource-type-fields.md
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/common/deprecation/deprecation_suite_test.go
  internal/service/common/deprecation/deprecation_test.go
  internal/service/common/deprecation/middleware.go
  internal/service/common/deprecation/registry.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Create resources 'GetAll' repo methods + test by repo mocks
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore(deps): update o-cloud-manager to version 4.21.2 (#1795)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

chore(deps): update o-cloud-manager-bundle to version 4.21.2
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

feat(bundle): add metadata handling and update Dockerfile for o-cloud-manager
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

feat(bundle): add metadata handling and update labels in Dockerfile
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

fix(bundle): ensure proper newline at end of Dockerfile.bundle
  .konflux/Dockerfile.bundle
Due: o-cloud-manager-bundle-4-21-on-pull-request

chore(deps): update o-cloud-manager-bundle to version 4.21.2 (#1798)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

chore(bundle): update operator-sdk version in Dockerfile and annotations
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request
