Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-22:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

Regenerate deepcopy after rebase to fix bundle-check
  api/common/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Red Hat Konflux purge o-cloud-manager-4-20
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
Due: o-cloud-manager-4-20-on-pull-request

Red Hat Konflux purge o-cloud-manager-bundle-4-20
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: none

Red Hat Konflux purge o-cloud-manager-fbc-4-20
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

docs: clarify extraLabels/extraAnnotations merge behavior with defaults
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/template-overview.md
Due: none

docs: clarify extraLabels/extraAnnotations merge behavior with defaults (#3049)
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/template-overview.md
Due: none

Temporarily disable Tekton pipelines for release-4.22
  .tekton/o-cloud-manager-4-22-pull-request.yaml
  .tekton/o-cloud-manager-4-22-push.yaml
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
Due: o-cloud-manager-4-22-on-push

CNF-23722: enable Prometheus metrics collection for the operator
  bundle/manifests/oran-o2ims-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

fix: pin delve debugger to v1.26.3 for Go 1.24 compatibility (#3030)
  Dockerfile
Due: none

CNF-23722: expose /metrics endpoint on O2IMS API service pods
  bundle/manifests/oran-o2ims-o2ims-services-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/services-monitor.yaml
  go.mod
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/serve.go
  internal/service/common/api/middleware/errors.go
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
  internal/service/common/metrics/metrics.go
  internal/service/common/metrics/metrics_test.go
  internal/service/provisioning/serve.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-23722: fix coverage
  .coverage-thresholds.yaml
Due: none

CNF-23722: add PrometheusRule alerts for auth failures
  bundle/manifests/oran-o2ims-o2ims-auth-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/auth-alerts.yaml
  config/prometheus/kustomization.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-23722: add Prometheus metrics and alerting documentation
  docs/dev/prometheus-metrics.md
Due: none

test: replace Expect(err).To(BeNil()) with HaveOccurred()
  AGENTS.md
  internal/controllers/utils/provision_test.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/infrastructure/clusterserver_test.go
  internal/service/alarms/internal/infrastructure/resourceserver_test.go
  internal/service/cluster/api/server_test.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

test: replace Expect(err).To(BeNil()) with HaveOccurred() (#3065)
  AGENTS.md
  internal/controllers/utils/provision_test.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/infrastructure/clusterserver_test.go
  internal/service/alarms/internal/infrastructure/resourceserver_test.go
  internal/service/cluster/api/server_test.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: pin SCRIPT_RUNNER_IMAGE to digest in FBC pipeline (#3026)
  .tekton/fbc-pipeline.yaml
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Temporarily disable Tekton pipelines for release-4.22 (#3061)
  .tekton/o-cloud-manager-4-22-pull-request.yaml
  .tekton/o-cloud-manager-4-22-push.yaml
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
Due: o-cloud-manager-4-22-on-push

Ignore forge directory
  .gitignore
Due: none

Ignore forge directory (#3069)
  .gitignore
Due: none

CNF-24288: wire context-aware logging handler into all pods
  internal/cmd/operator/start_controller_manager.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/logging/logging.go
  internal/service/alarms/cmd/root.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/serve.go
  internal/service/artifacts/cmd/root.go
  internal/service/artifacts/cmd/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/cmd/root.go
  internal/service/cluster/cmd/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/provisioning/cmd/root.go
  internal/service/provisioning/cmd/serve.go
  internal/service/provisioning/serve.go
  internal/service/resources/cmd/root.go
  internal/service/resources/cmd/serve.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24288: wire context-aware logging handler into all pods (#3070)
  internal/cmd/operator/start_controller_manager.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/logging/logging.go
  internal/service/alarms/cmd/root.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/serve.go
  internal/service/artifacts/cmd/root.go
  internal/service/artifacts/cmd/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/cmd/root.go
  internal/service/cluster/cmd/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/provisioning/cmd/root.go
  internal/service/provisioning/cmd/serve.go
  internal/service/provisioning/serve.go
  internal/service/resources/cmd/root.go
  internal/service/resources/cmd/serve.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24577: move database query logging from INFO to DEBUG level
  internal/service/common/db/postgres.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24577: move database query logging from INFO to DEBUG level (#3079)
  internal/service/common/db/postgres.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: log URL path only, not full RequestURI with query string
  internal/service/common/api/middleware/middleware.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24288: add context enrichment and fix log quality issues (Phase 3)
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/logging_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/logging/logging.go
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/cluster/collector/collector.go
  internal/service/common/api/middleware/middleware.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/provisioning/api/server.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[release-4.22] CNF-24288: add context enrichment and fix log quality issues (Phase 3) (#3080)
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/logging_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/logging/logging.go
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/cluster/collector/collector.go
  internal/service/common/api/middleware/middleware.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/provisioning/api/server.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore(deps): bump golang.org/x/sync (#3081)
  go.mod
  go.sum
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: Commit generated files
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/common/api/generated/common.generated.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/resources/api/generated/inventory.generated.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[release-4.22] chore(deps): bump github.com/oapi-codegen/oapi-codegen/v2 from 2.7.0 to 2.7.1 in the oapi-codegen group across 1 directory (#3082)
  go.mod
  go.sum
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/common/api/generated/common.generated.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/resources/api/generated/inventory.generated.go
  vendor/github.com/oapi-codegen/oapi-codegen/v2/pkg/codegen/template_helpers.go
  vendor/github.com/oapi-codegen/oapi-codegen/v2/pkg/codegen/templates/server-urls.tmpl
  vendor/github.com/oapi-codegen/oapi-codegen/v2/pkg/codegen/utils.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24583: thread context through NAR timeout check function
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24583: thread context through NAR timeout check function (#3085)
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: format slog.Duration as human-readable strings in JSON logs
  internal/logging/logger.go
  internal/logging/logger_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: format slog.Duration as human-readable strings in JSON logs (#3088)
  internal/logging/logger.go
  internal/logging/logger_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24578: add BMH/node context enrichment and standardize field naming
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/hardwaremanager/controller/hostupdatepolicy_manager.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: remove AppendCtx from leaf functions and align field naming
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: remove redundant node AppendCtx from child functions
  internal/hardwaremanager/controller/helpers.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
