Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

CNF-24640: Upstream catalog-template update — O-Cloud 4.22.0 (#2783)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Update greeting to "Hello, Friends!"
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-22904: Add hello world hack script
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use typed slog attributes in collector packages
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use typed slog attributes in alarms internal packages
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/config.go
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/alertmanager/handler.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/resourceserver.go
  internal/service/alarms/internal/listener/pg_listener.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address review feedback: Change greeting to "Hello, Friends!"
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix CodeRabbit review findings
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_rfc8705.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address code review feedback: expand welcome message
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add exclamation mark to welcome message
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Update greeting message per review feedback
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add exclamation mark to greeting message
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: add "the" to greeting message
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-22904: add hello world hack script
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

OCPBUGS-87974: fix non-hardware PR spec changes causing NAR configTransactionId mismatch
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/utils/node_allocation_request.go
  internal/hardwaremanager/utils/node_allocation_request_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24579: reduce hardware manager polling log verbosity
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

OCPBUGS-87974: fix non-hardware PR spec changes causing NAR configTransactionId mismatch (#2790)
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/utils/node_allocation_request.go
  internal/hardwaremanager/utils/node_allocation_request_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

test: verify SSH commit signing from release-automator
  README.md
Due: none

ci: add GitHub Actions workflow to check commit signature verification
  .github/workflows/check-verified-commits.yml
Due: none

ci: address CodeRabbit review findings
  .github/workflows/check-verified-commits.yml
Due: none

test unsigned commit
  README.md
Due: none

CNF-22905: add goodbye world script
  hack/goodbye-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Update greeting message to "Farewell, World!"
  hack/goodbye-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Update greeting to "Farewell, Friends!"
  hack/goodbye-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24579: reduce hardware manager polling log verbosity (#2769)
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-22905: Add goodbye world script
  hack/goodbye-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address review feedback: change output to "Goodbye, Friends!"
  hack/goodbye-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use typed slog attributes in collector packages (#2786)
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use typed slog attributes in alarms internal packages (#2787)
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/config.go
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/alertmanager/handler.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/resourceserver.go
  internal/service/alarms/internal/listener/pg_listener.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24428: Update SNO upgrade examples to inline upgradeDefaults format
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_clustertemplate.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/upgrade-defaults-v1.yaml
  docs/user-guide/upgrade.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-24427: Change UpgradeDefaults to inline RawExtension, migrate IBGU flow
  api/provisioning/v1alpha1/clustertemplate_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_clustertemplates.yaml
  config/crd/bases/clcm.openshift.io_clustertemplates.yaml
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24580: suppress duplicate alarm rule WARN logs
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: enable sloglint attr-only rule and document convention
  .golangci.yml
  AGENTS.md
Due: none

CNF-24580: suppress duplicate alarm rule WARN logs (#2770)
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: enable sloglint attr-only rule and document convention (#2789)
  .golangci.yml
  AGENTS.md
Due: none

CNF-24453: Support overriding upgradeDefaults in ProvisioningRequest
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24943: Use parsed hostname for callback auth type determination
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24950: Block cross-host redirects on notifier HTTP clients
  .coverage-thresholds.yaml
  internal/service/common/notifier/event_test.go
  internal/service/common/notifier/notifier_test.go
  internal/service/common/notifier/provider.go
  internal/service/common/notifier/provider_test.go
  internal/service/common/notifier/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push
