Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-22:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

test: replace hardcoded timeouts with constants in e2e tests
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: none

test: standardize on .ToNot() for negated Gomega assertions (#2672)
  AGENTS.md
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/utils/utils_test.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  internal/hardwaremanager/controller/hostupdatepolicy_manager_test.go
  internal/hardwaremanager/controller/resource_selection_test.go
  internal/hardwaremanager/utils/allocated_node_test.go
  internal/service/alarms/api/server_test.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/alertmanager/config_test.go
  internal/service/alarms/internal/alertmanager/converter_test.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/cluster/api/server_test.go
  internal/service/cluster/collector/collector_alarms_test.go
  internal/service/cluster/collector/collector_k8s_test.go
  internal/service/common/api/middleware/filtering_test.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/common/api/middleware/schema_utils_test.go
  internal/service/common/api/utils_test.go
  internal/service/common/async/store_test.go
  internal/service/common/cache/cache_test.go
  internal/service/common/utils/utils_test.go
  internal/service/provisioning/api/envtest/server_test.go
  internal/service/provisioning/api/server_test.go
  internal/service/resources/api/server_test.go
  internal/service/resources/collector/collector_hwmgr_test.go
  internal/service/resources/collector/envtest/suite_test.go
  internal/service/resources/collector/hierarchy_test.go
  internal/service/resources/collector/transformer_test.go
  internal/service/resources/listener/alarms_sync_test.go
  internal/service/resources/listener/pg_listener_test.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

test: add e2e test overview with Ginkgo labels and By steps (#2630)
  Makefile
  docs/dev/e2e-test-overview.md
  hack/generate-e2e-outline.sh
  test/e2e/bmh_test.go
  test/e2e/sno_provisioning_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

test: replace hardcoded timeouts with constants in e2e tests (#2673)
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: none

fix: use PatchOptions.ApplyOptions for dry-run detection
  test/fakeclient/fakeclient.go
Due: none

test: consolidate getFakeClientFromObjects into shared test/fakeclient package
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/suite_test.go
  internal/controllers/utils/provision_test.go
  internal/controllers/utils/utils_test.go
  test/fakeclient/fakeclient.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

refactor: move scheme registration into fakeclient package
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/suite_test.go
  internal/controllers/utils/provision_test.go
  internal/controllers/utils/utils_test.go
  test/fakeclient/fakeclient.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: use dedicated scheme instead of global clientgoscheme.Scheme
  test/fakeclient/fakeclient.go
Due: none

test: replace Expect(err).To(BeNil()) with HaveOccurred()
  AGENTS.md
  internal/controllers/utils/provision_test.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/infrastructure/clusterserver_test.go
  internal/service/alarms/internal/infrastructure/resourceserver_test.go
  internal/service/cluster/api/server_test.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24288: wire context-aware logging handler into all pods
  internal/cmd/operator/start_controller_manager.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/logging/logging.go
  internal/service/alarms/cmd/root.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/serve.go
  internal/service/artifacts/cmd/root.go
  internal/service/artifacts/cmd/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/cmd/root.go
  internal/service/cluster/cmd/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/provisioning/cmd/root.go
  internal/service/provisioning/cmd/serve.go
  internal/service/provisioning/serve.go
  internal/service/resources/cmd/root.go
  internal/service/resources/cmd/serve.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

test: consolidate getFakeClientFromObjects into shared test/fakeclient package (#2674)
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/suite_test.go
  internal/controllers/utils/provision_test.go
  internal/controllers/utils/utils_test.go
  test/fakeclient/fakeclient.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[BRANCH-CUT] Prepare release-4.22 branch
  .tekton/o-cloud-manager-4-22-pull-request.yaml
  .tekton/o-cloud-manager-4-22-push.yaml
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
Due: o-cloud-manager-4-22-on-push

[BRANCH-CUT] Bump to 5.0 and prepare release-4.22
  .ci-operator.yaml
  .dep-branches.yaml
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/bundle/metadata/annotations.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-5-0-pull-request.yaml
  .tekton/o-cloud-manager-5-0-push.yaml
  .tekton/o-cloud-manager-bundle-5-0-pull-request.yaml
  .tekton/o-cloud-manager-bundle-5-0-push.yaml
  .tekton/o-cloud-manager-fbc-5-0-pull-request.yaml
  .tekton/o-cloud-manager-fbc-5-0-push.yaml
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/troubleshooting.md
  docs/user-guide/environment-setup.md
  docs/user-guide/must-gather.md
Due: o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

fix: point cluster-group-upgrades-operator to main (no release-5.0 branch)
  .dep-branches.yaml
Due: none

fix: use openshift-4.22 golang image (5.0 has older Go version)
  .ci-operator.yaml
Due: none

revert: restore .dep-branches.yaml to upstream state
  .dep-branches.yaml
Due: none

docs: add release-4.22 row to must-gather image versions table
  docs/user-guide/must-gather.md
Due: none

[BRANCH-CUT] Prepare release-4.22 branch (#2709)
  .tekton/o-cloud-manager-4-22-pull-request.yaml
  .tekton/o-cloud-manager-4-22-push.yaml
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
Due: o-cloud-manager-4-22-on-push

chore: remove autoApprove and automerge from renovate config
  renovate.json
Due: none

[BRANCH-CUT] Bump to 5.0 and prepare release-4.22 (#2710)
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/bundle/metadata/annotations.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-5-0-pull-request.yaml
  .tekton/o-cloud-manager-5-0-push.yaml
  .tekton/o-cloud-manager-bundle-5-0-pull-request.yaml
  .tekton/o-cloud-manager-bundle-5-0-push.yaml
  .tekton/o-cloud-manager-fbc-5-0-pull-request.yaml
  .tekton/o-cloud-manager-fbc-5-0-push.yaml
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/troubleshooting.md
  docs/user-guide/environment-setup.md
  docs/user-guide/must-gather.md
Due: o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

chore: remove autoApprove and automerge from renovate config (#2712)
  renovate.json
Due: none

test: replace Expect(err).To(BeNil()) with HaveOccurred() (#2687)
  AGENTS.md
  internal/controllers/utils/provision_test.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/infrastructure/clusterserver_test.go
  internal/service/alarms/internal/infrastructure/resourceserver_test.go
  internal/service/cluster/api/server_test.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-22111: remove skipRange for release-4.22 (no upgrade from <4.22)
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22111: remove skipRange for release-4.22 (no upgrade from <4.22) (#2730)
  .konflux/catalog/catalog-template.in.yaml
Due: none

OCPBUGS-87154: fix day-2 hardware config when nodeClusterName differs from clusterName
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/node_operations.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[CNF-22896] Add 'Hello, World!' startup log to controller manager
  internal/cmd/operator/start_controller_manager.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[CNF-22896] Fix: Missing hello world startup log in oran-o2ims controller (openshift-kni/oran-o2ims)
  .forge/handoff.md
  .forge/history/CNF-22896.json
  .forge/task.json
Due: none

[CNF-22894-qualreview] Qualitative bug review — root cause and test coverage
  .forge/handoff.md
  .forge/history/CNF-22894-qualreview.json
  .forge/task.json
Due: none

[CNF-22896] Fix: Missing hello world startup log in oran-o2ims controller (openshift-kni/oran-o2ims)
  .forge/history/CNF-22896.json
  .forge/task.json
Due: none

[CNF-22894-qualreview] Qualitative bug review — root cause and test coverage
  .forge/history/CNF-22894-qualreview.json
  .forge/task.json
Due: none

OCPBUGS-87154: fix day-2 hardware config when nodeClusterName differs from clusterName (#2740)
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/node_operations.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[CNF-22896] Fix: Missing hello world startup log in oran-o2ims controller (openshift-kni/oran-o2ims)
  .forge/handoff.md
  .forge/history/CNF-22896.json
Due: none

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
