Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-bundle-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

Refactor ProvisioningRequest upgrade handling and remove redundant validation
  docs/cluster-provisioning.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/utils/conditions.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Refactor ProvisioningRequest upgrade handling and remove redundant validation (#1058)
  docs/cluster-provisioning.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/utils/conditions.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Workaround to deal with stuck ObservabilityAddon finalizer Generated-By: Cursor/claude-4-sonnet
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/provisioningrequest_controller.go
  vendor/github.com/stolostron/multicluster-observability-operator/LICENSE
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/shared/multiclusterobservability_shared.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/shared/zz_generated.deepcopy.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/groupversion_info.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/multiclusterobservability_conversion.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/multiclusterobservability_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/observabilityaddon_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/groupversion_info.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_conversion.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_webhook.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/zz_generated.deepcopy.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

Update bundle.builds.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Workaround to deal with stuck ObservabilityAddon finalizer (#1057)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/provisioningrequest_controller.go
  vendor/github.com/stolostron/multicluster-observability-operator/LICENSE
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/shared/multiclusterobservability_shared.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/shared/zz_generated.deepcopy.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/groupversion_info.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/multiclusterobservability_conversion.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/multiclusterobservability_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/observabilityaddon_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/groupversion_info.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_conversion.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_webhook.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/zz_generated.deepcopy.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

fix: improve ClusterInstance handling with server-side apply
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_setup.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: improve ClusterInstance handling with server-side apply (#1064)
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_setup.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Workaround to deal with stuck ObservabilityAddon finalizer Generated-By: Cursor/claude-4-sonnet (#1065)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/provisioningrequest_controller.go
  vendor/github.com/stolostron/multicluster-observability-operator/LICENSE
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/shared/multiclusterobservability_shared.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/shared/zz_generated.deepcopy.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/groupversion_info.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/multiclusterobservability_conversion.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/multiclusterobservability_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/observabilityaddon_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/groupversion_info.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_conversion.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_types.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/multiclusterobservability_webhook.go
  vendor/github.com/stolostron/multicluster-observability-operator/operators/multiclusterobservability/api/v1beta2/zz_generated.deepcopy.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

fix: improve ClusterInstance handling with server-side apply (#1069)
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_setup.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

update bundle sha256
  .konflux/catalog/bundle.builds.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

fix: return nil instead of error when template version < ManagedCluster version
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: return nil instead of error when template version < ManagedCluster version (#1083)
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: return nil instead of error when template version < ManagedCluster version (#1088)
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Add ClusterImageSet release version validation
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

DNM: Testing scorecard issue
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: o-cloud-manager-bundle-4-20-on-push

OCPBUGS-61950 and OCPBUGS-62072
  hwmgr-plugins/api/server/nar-callback/server.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/utils.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

OCPBUGS-61950 and OCPBUGS-62072 (#1100)
  hwmgr-plugins/api/server/nar-callback/server.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/utils.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Add ClusterImageSet release version validation (#1082)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

OCPBUGS-61950 and OCPBUGS-62072 (#1121)
  hwmgr-plugins/api/server/nar-callback/server.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/utils.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Consolidate cluster resource creation into pre-provisioning phase
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Remove slot from nic f/w schema
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

docs: add new user guide for alarms server
  docs/alarms-user-guide.md
Due: none

Add ClusterImageSet release version validation (#1120)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

docs: add new user guide for alarms server (#1123)
  docs/alarms-user-guide.md
Due: none

Consolidate cluster resource creation into pre-provisioning phase (#1126)
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Fix HardwareProfile CRD resource association and add validation
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

Consolidate cluster resource creation into pre-provisioning phase (#1134)
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

docs: add new user guide for alarms server (#1136)
  docs/alarms-user-guide.md
Due: none

Fix HardwareProfile CRD resource association and add validation (#1131)
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

Fix HardwareProfile CRD resource association and add validation (#1139)
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

Remove slot from nic f/w schema (#1133)
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-20-on-push: ((((any of: .tekton/o-cloud-manager-bundle-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: .konflux/Dockerfile.bundle)) or (any of: .konflux/overlay/***)) or (any of: bundle/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
