Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

CNF-27957: Nest ClusterVersion upgrade parameters
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/schema/upgradeParameters-clusterVersion.yaml
  docs/user-guide/upgrade.md
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/upgrade/upgrade.go
  internal/upgrade/upgrade_test.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-27957: Nest ClusterVersion upgrade parameters (#4718)
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/schema/upgradeParameters-clusterVersion.yaml
  docs/user-guide/upgrade.md
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/upgrade/upgrade.go
  internal/upgrade/upgrade_test.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-27755: Reuse ClusterTemplate in seed dispatch
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/constants/constants.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_seedgeneration.go
  internal/controllers/provisioningrequest_seedgeneration_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/constants.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-27755: Implement Phase 2 seed generation dispatch
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/seedgeneration_update_test.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  config/rbac/role.yaml
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_seedgeneration.go
  internal/controllers/provisioningrequest_seedgeneration_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-27755: Implement Phase 2 seed generation dispatch (#4719)
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/seedgeneration_update_test.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  config/rbac/role.yaml
  internal/constants/constants.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_seedgeneration.go
  internal/controllers/provisioningrequest_seedgeneration_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/constants.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-27755: Remove redundant upgrade dispatch wrappers
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-27755: Remove redundant upgrade dispatch wrappers (#4735)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

docs: document least-privilege RBAC guidance
  AGENTS.md
Due: none

docs: document least-privilege RBAC guidance (#4738)
  AGENTS.md
Due: none

CNF-27756: Phase 3: Add IBI seed generation preflight
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  docs/proposals/automated-seed-image-generation.md
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_seedgeneration.go
  internal/controllers/provisioningrequest_seedgeneration_mirrors.go
  internal/controllers/provisioningrequest_seedgeneration_phase3_test.go
  internal/controllers/provisioningrequest_seedgeneration_preflight.go
  internal/controllers/provisioningrequest_seedgeneration_preflight_test.go
  internal/controllers/provisioningrequest_seedgeneration_spoke.go
  internal/controllers/provisioningrequest_seedgeneration_tools.go
  internal/service/common/clients/k8s/k8s.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-27756: Phase 3: Fix IBI preflight review findings
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_seedgeneration.go
  internal/controllers/provisioningrequest_seedgeneration_mirrors.go
  internal/controllers/provisioningrequest_seedgeneration_phase3_test.go
  internal/controllers/provisioningrequest_seedgeneration_preflight.go
  internal/controllers/provisioningrequest_seedgeneration_preflight_test.go
  internal/controllers/provisioningrequest_seedgeneration_test.go
  internal/controllers/provisioningrequest_seedgeneration_tools.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-27756: Phase 3 IBI test organization
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_seedgeneration.go
  internal/controllers/provisioningrequest_seedgeneration_mirrors_test.go
  internal/controllers/provisioningrequest_seedgeneration_phase3_test.go
  internal/controllers/provisioningrequest_seedgeneration_preflight_test.go
  internal/controllers/provisioningrequest_seedgeneration_spoke_test.go
  internal/controllers/provisioningrequest_seedgeneration_test.go
  internal/controllers/provisioningrequest_seedgeneration_tools_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-27756: Phase 3: Add IBI seed generation preflight (#4739)
  .konflux/overlay/map_images.in.yaml
  .konflux/overlay/pin_images.in.yaml
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  docs/proposals/automated-seed-image-generation.md
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_seedgeneration.go
  internal/controllers/provisioningrequest_seedgeneration_mirrors.go
  internal/controllers/provisioningrequest_seedgeneration_mirrors_test.go
  internal/controllers/provisioningrequest_seedgeneration_preflight.go
  internal/controllers/provisioningrequest_seedgeneration_preflight_test.go
  internal/controllers/provisioningrequest_seedgeneration_spoke.go
  internal/controllers/provisioningrequest_seedgeneration_spoke_test.go
  internal/controllers/provisioningrequest_seedgeneration_test.go
  internal/controllers/provisioningrequest_seedgeneration_tools.go
  internal/controllers/provisioningrequest_seedgeneration_tools_test.go
  internal/service/common/clients/k8s/k8s.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

[BRANCH-CUT] Prepare release-5.0 branch
  .konflux/catalog/catalog-template.in.yaml
  .tekton/o-cloud-manager-5-0-pull-request.yaml
  .tekton/o-cloud-manager-5-0-push.yaml
  .tekton/o-cloud-manager-bundle-5-0-pull-request.yaml
  .tekton/o-cloud-manager-bundle-5-0-push.yaml
  .tekton/o-cloud-manager-fbc-5-0-pull-request.yaml
  .tekton/o-cloud-manager-fbc-5-0-push.yaml
Due: none

[BRANCH-CUT] Bump to 5.1 and prepare release-5.0
  .ci-operator.yaml
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-5-1-pull-request.yaml
  .tekton/o-cloud-manager-5-1-push.yaml
  .tekton/o-cloud-manager-bundle-5-1-pull-request.yaml
  .tekton/o-cloud-manager-bundle-5-1-push.yaml
  .tekton/o-cloud-manager-fbc-5-1-pull-request.yaml
  .tekton/o-cloud-manager-fbc-5-1-push.yaml
Due: o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

[BRANCH-CUT] Prepare release-5.0 branch (#4782)
  .konflux/catalog/catalog-template.in.yaml
  .tekton/o-cloud-manager-5-0-pull-request.yaml
  .tekton/o-cloud-manager-5-0-push.yaml
  .tekton/o-cloud-manager-bundle-5-0-pull-request.yaml
  .tekton/o-cloud-manager-bundle-5-0-push.yaml
  .tekton/o-cloud-manager-fbc-5-0-pull-request.yaml
  .tekton/o-cloud-manager-fbc-5-0-push.yaml
Due: none

[BRANCH-CUT] Bump to 5.1 and prepare release-5.0 (#4767)
  .ci-operator.yaml
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-5-1-pull-request.yaml
  .tekton/o-cloud-manager-5-1-push.yaml
  .tekton/o-cloud-manager-bundle-5-1-pull-request.yaml
  .tekton/o-cloud-manager-bundle-5-1-push.yaml
  .tekton/o-cloud-manager-fbc-5-1-pull-request.yaml
  .tekton/o-cloud-manager-fbc-5-1-push.yaml
Due: o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-25117: Relocate FirmwareCatalog webhook into internal package
  .coverage-thresholds.yaml
  api/hardwaremanagement/v1alpha1/suite_test.go
  internal/cmd/operator/start_controller_manager.go
  internal/webhook/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  internal/webhook/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  internal/webhook/hardwaremanagement/v1alpha1/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

catalog: align 5.0 channels with release-4.22 conventions
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-26908: Split FBC catalogs into 4.22 and 5.0 directories
  .konflux/Dockerfile.catalog.4.22
  .konflux/catalog/.gitignore
  .konflux/catalog/4.22/catalog-idms.yaml
  .konflux/catalog/4.22/catalog-template.in.yaml
  .konflux/catalog/4.22/o-cloud-manager/.gitkeep
  .konflux/catalog/5.0/bundle.builds.in.yaml
  .konflux/catalog/5.0/catalog-idms.yaml
  .konflux/catalog/5.0/catalog-template.in.yaml
  .konflux/catalog/5.0/o-cloud-manager/.gitkeep
  .konflux/catalog/README.md
  .tekton/fbc-pipeline.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-5-0-push.yaml
  Makefile
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-25117: Relocate FirmwareCatalog webhook into internal package (#4788)
  .coverage-thresholds.yaml
  api/hardwaremanagement/v1alpha1/suite_test.go
  internal/cmd/operator/start_controller_manager.go
  internal/webhook/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  internal/webhook/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  internal/webhook/hardwaremanagement/v1alpha1/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Align O2IMS path prefixes with spec
  bundle/manifests/oran-o2ims-deployer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-maintainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-provisioner-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-subscriber-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  dev-tools/crd-watcher/inventory.go
  docs/dev/prometheus-metrics.md
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/api-overview.md
  docs/user-guide/cluster-api.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/template-overview.md
  internal/constants/constants.go
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/common/api/openapi.yaml
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
  internal/service/common/metrics/metrics_test.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi-overlay.yaml
  internal/service/resources/api/openapi.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Align O2IMS path prefixes with spec (#4807)
  bundle/manifests/oran-o2ims-deployer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-maintainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-provisioner-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-subscriber-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  dev-tools/crd-watcher/inventory.go
  docs/dev/prometheus-metrics.md
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/api-overview.md
  docs/user-guide/cluster-api.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/template-overview.md
  internal/constants/constants.go
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/common/api/openapi.yaml
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
  internal/service/common/metrics/metrics_test.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi-overlay.yaml
  internal/service/resources/api/openapi.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

[BRANCH-CUT] Bump remaining version references from 5.0.0 to 5.1.0
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/troubleshooting.md
  docs/user-guide/environment-setup.md
  docs/user-guide/must-gather.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

[BRANCH-CUT] Bump remaining version references from 5.0.0 to 5.1.0 (#4809)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/troubleshooting.md
  docs/user-guide/environment-setup.md
  docs/user-guide/must-gather.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-25915: Add firmware update workflow documentation and samples
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/firmware-update-workflow.md
  docs/user-guide/gitops-layout-and-setup.md
Due: none

CNF-25915: Relocate HardwareProfile webhook into internal package
  internal/cmd/operator/start_controller_manager.go
  internal/webhook/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  internal/webhook/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Align O2IMS path prefixes with spec (#4819)
  bundle/manifests/oran-o2ims-deployer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-maintainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-provisioner-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-subscriber-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  dev-tools/crd-watcher/inventory.go
  docs/dev/prometheus-metrics.md
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/api-overview.md
  docs/user-guide/cluster-api.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/template-overview.md
  internal/constants/constants.go
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/common/api/openapi.yaml
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
  internal/service/common/metrics/metrics_test.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi-overlay.yaml
  internal/service/resources/api/openapi.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

fix(catalog): remove unsupported basic template bundle fields
  .konflux/catalog/5.0/catalog-template.in.yaml
Due: none

fix(catalog): keep only 5.0 in the stable channel
  .konflux/catalog/5.0/catalog-template.in.yaml
Due: none

catalog: keep only O-Cloud Manager 5.0
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
Due: none

catalog: allow 5.0 upgrades from 4.22
  .konflux/catalog/catalog-template.in.yaml
Due: none

Update skipRange lower bound to >=4.23.0
  .konflux/catalog/catalog-template.in.yaml
Due: none

catalog: keep only O-Cloud Manager 5.0 (#4840)
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
Due: none
