Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-22:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

[release-4.22] CNF-24945: Add NetworkPolicy to restrict pod ingress traffic (#3125)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/networkpolicy_role.yaml
  config/rbac/networkpolicy_role_binding.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24707: use slog.String for known string-typed log attributes
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/listener/pg_listener.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use slog.String for known string-typed log attributes (#3132)
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/listener/pg_listener.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use slog.String for UUID log attributes
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/resources/collector/collector.go
  internal/service/resources/listener/alarms_sync.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use slog.String for UUID log attributes (#3135)
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/resources/collector/collector.go
  internal/service/resources/listener/alarms_sync.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix missed eventType slog.Any in store.go
  internal/service/common/async/store.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: add String() method to AsyncEventType
  internal/service/cluster/collector/collector_k8s.go
  internal/service/common/async/store.go
  internal/service/common/async/store_test.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[release-4.22] CNF-24707: add String() method to AsyncEventType (#3136)
  internal/service/cluster/collector/collector_k8s.go
  internal/service/common/async/store.go
  internal/service/common/async/store_test.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: standardize error log key to "error"
  AGENTS.md
  internal/controllers/provisioningrequest_setup.go
  internal/service/alarms/cmd/migrate.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/artifacts/cmd/serve.go
  internal/service/cluster/cmd/migrate.go
  internal/service/cluster/cmd/serve.go
  internal/service/common/api/middleware/filtering.go
  internal/service/provisioning/cmd/serve.go
  internal/service/resources/cmd/migrate.go
  internal/service/resources/cmd/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: standardize error log key to "error" (#3137)
  AGENTS.md
  internal/controllers/provisioningrequest_setup.go
  internal/service/alarms/cmd/migrate.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/artifacts/cmd/serve.go
  internal/service/cluster/cmd/migrate.go
  internal/service/cluster/cmd/serve.go
  internal/service/common/api/middleware/filtering.go
  internal/service/provisioning/cmd/serve.go
  internal/service/resources/cmd/migrate.go
  internal/service/resources/cmd/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

docs: expand AGENTS.md logging conventions
  AGENTS.md
Due: none

docs: expand AGENTS.md logging conventions (#3138)
  AGENTS.md
Due: none

CNF-24956: add clusterName validation and reserved namespace checks
  .coverage-thresholds.yaml
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  docs/troubleshooting.md
  docs/user-guide/cluster-provisioning.md
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/validation/cluster_name.go
  internal/validation/cluster_name_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24956: fix CodeRabbit review findings
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/validation/cluster_name.go
  internal/validation/cluster_name_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[release-4.22] CNF-24956: add clusterName validation and reserved namespace checks (#3139)
  .coverage-thresholds.yaml
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  docs/troubleshooting.md
  docs/user-guide/cluster-provisioning.md
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/validation/cluster_name.go
  internal/validation/cluster_name_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: standardize log attribute keys to camelCase
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/service/common/api/middleware/filtering.go
  internal/service/common/notifier/notifier.go
  internal/service/common/repo/notifications.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: standardize log attribute keys to camelCase (#3140)
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/service/common/api/middleware/filtering.go
  internal/service/common/notifier/notifier.go
  internal/service/common/repo/notifications.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: add controller-runtime-common dependency for TLS profile support
  go.mod
  go.sum
  internal/controllers/utils/constants.go
  internal/controllers/utils/tls_profile.go
  vendor/github.com/openshift/controller-runtime-common/LICENSE
  vendor/github.com/openshift/controller-runtime-common/pkg/tls/controller.go
  vendor/github.com/openshift/controller-runtime-common/pkg/tls/tls.go
  vendor/github.com/openshift/library-go/LICENSE
  vendor/github.com/openshift/library-go/pkg/crypto/OWNERS
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/crypto/rotation.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: wire operator to fetch and propagate cluster TLS profile
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: document TLS
  docs/dev/tls-configuration.md
Due: none

CNF-21985: add unit and envtest tests for TLS profile
  Makefile
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/testdata/.gitignore
  internal/controllers/envtest/tls_profile_watcher_test.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: refactor skip-verify + CA bundle logic
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/common/notifier/provider.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: make all TLS functions profile-aware via env-var wrappers
  internal/controllers/utils/utils.go
  internal/service/alarms/internal/alertmanager/api.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: increase notifier coverage
  .coverage-thresholds.yaml
  internal/service/common/notifier/notifier_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: add RBAC, CSV annotation, and regenerate bundle
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

[release-4.22] CNF-21985: [ORAN] Central TLS Profile consistency (#3143)
  .coverage-thresholds.yaml
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  docs/dev/tls-configuration.md
  go.mod
  go.sum
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/testdata/.gitignore
  internal/controllers/envtest/tls_profile_watcher_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/common/notifier/notifier_test.go
  internal/service/common/notifier/provider.go
  vendor/github.com/openshift/controller-runtime-common/LICENSE
  vendor/github.com/openshift/controller-runtime-common/pkg/tls/controller.go
  vendor/github.com/openshift/controller-runtime-common/pkg/tls/tls.go
  vendor/github.com/openshift/library-go/LICENSE
  vendor/github.com/openshift/library-go/pkg/crypto/OWNERS
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/crypto/rotation.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-25110: move TemplateParam constants to shared constants package
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/constants/constants.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils_test.go
  internal/service/artifacts/api/server.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25110: move TemplateParam constants to shared constants package (#3146)
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/constants/constants.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils_test.go
  internal/service/artifacts/api/server.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

ci: add 0.5% tolerance to coverage threshold checks
  hack/check-coverage.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

ci: add 0.5% tolerance to coverage threshold checks (#3147)
  hack/check-coverage.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix duplicate bmh log key in resource collector
  internal/service/resources/collector/collector_hwmgr.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix duplicate bmh log key in resource collector (#3148)
  internal/service/resources/collector/collector_hwmgr.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24428: Update SNO upgrade examples to inline upgradeDefaults format
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_clustertemplate.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/upgrade-defaults-v1.yaml
  docs/user-guide/upgrade.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-24428: Update SNO upgrade examples to inline upgradeDefaults format (#3149)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_clustertemplate.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/upgrade-defaults-v1.yaml
  docs/user-guide/upgrade.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-24707: fix remaining non-camelCase log attribute keys
  AGENTS.md
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/hardwaremanager/controller/helpers.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix remaining non-camelCase log attribute keys (#3150)
  AGENTS.md
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/hardwaremanager/controller/helpers.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25111: consolidate InputError onto shared typed-errors package
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/errors.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25111: consolidate InputError onto shared typed-errors package (#3153)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/errors.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore(deps): bump github.com/stephenafamo/bob from 0.45.0 to 0.46.0 (#3154)
  go.mod
  go.sum
  vendor/github.com/stephenafamo/bob/CHANGELOG.md
  vendor/github.com/stephenafamo/bob/clause/set.go
  vendor/github.com/stephenafamo/bob/clause/setcols.go
  vendor/github.com/stephenafamo/bob/dialect/psql/dialect/delete.go
  vendor/github.com/stephenafamo/bob/dialect/psql/dialect/merge.go
  vendor/github.com/stephenafamo/bob/dialect/psql/dialect/mods.go
  vendor/github.com/stephenafamo/bob/dialect/psql/dialect/update.go
  vendor/github.com/stephenafamo/bob/dialect/psql/dm/qm.go
  vendor/github.com/stephenafamo/bob/dialect/psql/im/qm.go
  vendor/github.com/stephenafamo/bob/dialect/psql/mm/qm.go
  vendor/github.com/stephenafamo/bob/dialect/psql/sm/qm.go
  vendor/github.com/stephenafamo/bob/dialect/psql/um/qm.go
  vendor/github.com/stephenafamo/bob/dialect/psql/view.go
  vendor/github.com/stephenafamo/bob/expr/chain.go
  vendor/github.com/stephenafamo/bob/expr/setclause.go
  vendor/github.com/stephenafamo/bob/orm/query.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
