Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

Consolidate plugin and operator namespaces under OCLOUD_MANAGER_NAMESPACE
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  hwmgr-plugins/api/server/provisioning/helpers.go
  internal/controllers/inventory_controller.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/hardware_utils.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Consolidate plugin and operator namespaces under OCLOUD_MANAGER_NAMESPACE (#1326)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  hwmgr-plugins/api/server/provisioning/helpers.go
  internal/controllers/inventory_controller.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/hardware_utils.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Consolidate plugin and operator namespaces under OCLOUD_MANAGER_NAMESPACE (#1354)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  hwmgr-plugins/api/server/provisioning/helpers.go
  internal/controllers/inventory_controller.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/hardware_utils.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Extra metal3 plugin tests
  hwmgr-plugins/metal3/controller/resource_selection_test.go
  internal/controllers/mock_hardware_plugin_server.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Extra metal3 plugin tests (#1339)
  hwmgr-plugins/metal3/controller/resource_selection_test.go
  internal/controllers/mock_hardware_plugin_server.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Extra metal3 plugin tests (#1356)
  hwmgr-plugins/metal3/controller/resource_selection_test.go
  internal/controllers/mock_hardware_plugin_server.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Address comments; install Kustomize version from Makefile
  .github/workflows/kustomize-validation.yml
  hack/test-kustomize.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Add kustomize validation check (#1336)
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Improve Day 2 retry logic for hardware configuration
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/conditions.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Move hardware timeout detection to Metal3 plugin
  api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/controller/utils/node_allocation_request_fsm.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/hardware_utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Evalute policy timeout for missing policies after cluster is ready
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Evalute policy timeout for missing policies after cluster is ready (#1366)
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Evalute policy timeout for missing policies after cluster is ready (#1374)
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Add new reviewer by2waysprojects
  OWNERS
  OWNERS_ALIASES
Due: none

Add new reviewer by2waysprojects (#1378)
  OWNERS
  OWNERS_ALIASES
Due: none

Add new reviewer by2waysprojects (#1379)
  OWNERS
  OWNERS_ALIASES
Due: none

Resource server init step to add alarm dictionary and definition (built on metal3)
  internal/controllers/inventory_controller.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_alarms_test.go
  internal/service/common/constants.go
  internal/service/resources/db/migrations/000001_baseline.up.sql
  internal/service/resources/db/models/alarm_dictionary.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/listener/alarms_sync.go
  internal/service/resources/listener/alarms_sync_test.go
  internal/service/resources/listener/pg_listener.go
  internal/service/resources/listener/suite_test.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

revert fail fast and fix the comment
  internal/service/resources/listener/pg_listener.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

fail fast init step
  internal/service/resources/listener/pg_listener.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

fix(metal3-plugin): Handle AllocatedNode deletion when BMH is manually deleted
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
Due: none

fix(metal3-plugin): Handle AllocatedNode deletion when BMH is manually deleted (#1394)
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
Due: none

fix(metal3-plugin): Handle AllocatedNode deletion when BMH is manually deleted (#1399)
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
Due: none

Bump github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring (#1406)
  go.mod
  go.sum
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

CNF-20467: Replace rhel-els/minimal with ubi9/minimal
  .konflux/Dockerfile
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Update to latest
  .konflux/Dockerfile
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

CNF-19793: Resource server init step to add alarm dictionary and definition (#1308)
  internal/controllers/inventory_controller.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_alarms_test.go
  internal/service/common/constants.go
  internal/service/resources/db/migrations/000001_baseline.up.sql
  internal/service/resources/db/models/alarm_dictionary.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/listener/alarms_sync.go
  internal/service/resources/listener/alarms_sync_test.go
  internal/service/resources/listener/pg_listener.go
  internal/service/resources/listener/suite_test.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push

Address code review feedback
  api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller_test.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Update documentation
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
Due: none

Hardware alerts integration
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/alertmanager/converter_test.go
  internal/service/alarms/internal/alertmanager/handler.go
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/internal/infrastructure/resourceserver.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/generate.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/mock_generated/mock_client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/oapi-codegen.yaml
  internal/service/alarms/internal/infrastructure/resourceserver_test.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi-overlay.yaml
  internal/service/resources/api/server.go
  internal/service/resources/db/repo/repository.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-bundle-4-21-on-pull-request

bump version number to 4.20.2
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

Fix pipes fbc 4.21
  .tekton/o-cloud-manager-fbc-4-21-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-21-push.yaml
Due: none

Fix pipes fbc 4.20
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Fix pipes fbc 4.20 (#1426)
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
