Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-22:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

CNF-25915: Improve webhook validation, catalog resolution, and test coverage
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
  docs/user-guide/firmware-update-workflow.md
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/firmware_catalog_test.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  test/e2e/mno_hw_configuration_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-25915: Protect FirmwareCatalog against deletion when entries are referenced
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

OCPBUGS-65697: Expose cpuArchitecture for ARM (aarch64) cluster deploys
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_clustertemplate.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/3node-ran-du/3node-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-5.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-6.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/std-ran-du-multi-mcp-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/std-ran-du-v4-Y-Z-1.yaml
  docs/samples/schema/clusterInstanceParameters-legacy-nodes.yaml
  docs/samples/schema/clusterInstanceParameters-nodeGroups.yaml
  docs/user-guide/template-overview.md
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/utils/provision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Clarify cpuArchitecture x86_64 fallback in docs
  docs/user-guide/template-overview.md
Due: none

Implement new authorizer.Authorizer interface methods for k8s v0.37.0
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/auth_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove Jira references from test comments
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/utils/provision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25915: Address review feedback on firmware samples and docs
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  docs/user-guide/firmware-update-workflow.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-25915: Validate NIC firmware independently of BIOS settings
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25915: Use namespace placeholder in firmware docs examples
  docs/user-guide/firmware-update-workflow.md
Due: none

OCPBUGS-65697: Expose cpuArchitecture for ARM (aarch64) cluster deploys (#4201)
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_clustertemplate.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/3node-ran-du/3node-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-5.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-6.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/std-ran-du-multi-mcp-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/std-ran-du-v4-Y-Z-1.yaml
  docs/samples/schema/clusterInstanceParameters-legacy-nodes.yaml
  docs/samples/schema/clusterInstanceParameters-nodeGroups.yaml
  docs/user-guide/template-overview.md
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/utils/provision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26846: Seed catalog-template with released 4.22.0 and 4.22.1 bundles
  .konflux/catalog/catalog-template.in.yaml
  .tekton/fbc-pipeline.yaml
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-26101: Use scoped spoke clients for hardware configuration and scale-in
  .coverage-thresholds.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_hardwaremanager_server.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/prereqs.md
  docs/user-guide/upgrade.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/node_operations.go
  internal/hardwaremanager/controller/node_operations_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  internal/hardwaremanager/utils/node_allocation_request.go
  internal/hardwaremanager/utils/node_allocation_request_test.go
  internal/spokeclient/spokeclient.go
  internal/spokeclient/spokeclient_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/e2e/mno_hw_configuration_test.go
  test/utils/spoke_access.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-25915: Document non-breaking firmware API transition plan
  config/samples/v1alpha1_hardwareprofile.yaml
  docs/user-guide/firmware-update-workflow.md
Due: none

CNF-26101: Use scoped spoke clients for hardware configuration and scale-in (#4228)
  .coverage-thresholds.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_hardwaremanager_server.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/prereqs.md
  docs/user-guide/upgrade.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/node_operations.go
  internal/hardwaremanager/controller/node_operations_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  internal/hardwaremanager/utils/node_allocation_request.go
  internal/hardwaremanager/utils/node_allocation_request_test.go
  internal/spokeclient/spokeclient.go
  internal/spokeclient/spokeclient_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/e2e/mno_hw_configuration_test.go
  test/utils/spoke_access.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26878: Cap hardware-manager per-node goroutines
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26878: Cap hardware-manager per-node goroutines (#4238)
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26808: Drain scale-in nodes concurrently across worker MCPs
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  test/e2e/mno_scale_test.go
  test/resources/mno_scale/clusterinstance-defaults-v1.yaml
  test/resources/mno_scale/ct-scale.yaml
  test/resources/mno_scale/pr-scale-initial.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

docs: add IBI server pre-provisioning proposal
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: add automated seed image and live ISO generation proposal
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: use hub admin kubeconfig for spoke access during seed generation
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: clarify ACM cleanup ownership, PR lifecycle, IBI/IBU scope, cert mgmt
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: trim seed image proposal under 100KB
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: trim IBI pre-provisioning proposal under 100KB
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: pin ISO-server CA ConfigMap key and clarify workspace storage
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: address IBI pre-provisioning review, add ToC, trim under 100KB
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: fix IBI pre-provisioning state machine and sample fidelity
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: clarify seed sample schema abbreviation and CA-bundle key contract
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: split seed PR-facing and effective-object schemas
  docs/proposals/automated-seed-image-generation.md
Due: none

CNF-26808: Drain scale-in nodes concurrently across worker MCPs (#4268)
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  test/e2e/mno_scale_test.go
  test/resources/mno_scale/clusterinstance-defaults-v1.yaml
  test/resources/mno_scale/ct-scale.yaml
  test/resources/mno_scale/pr-scale-initial.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25915: Support dual-mode firmware (firmwareImages + deprecated inline fields)
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  docs/user-guide/firmware-update-workflow.md
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/firmware_catalog_test.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
  test/resources/mno_hw_configuration/hw-profile-dell-r740-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v1.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v3.yaml
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26914: Treat unchanged nodes without Configured as complete
  api/hardwaremanagement/v1alpha1/conditions.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26082: Run alarms events cleanup in-process (ORAN-O2IMS-2026-008)
  .coverage-thresholds.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/role_alarms_server.yaml
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
  internal/service/alarms/internal/serviceconfig/serviceconfig_test.go
  internal/service/alarms/internal/serviceconfig/suite_test.go
  internal/service/alarms/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26082: Run alarms events cleanup in-process (ORAN-O2IMS-2026-008) (#4055)
  .coverage-thresholds.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/role_alarms_server.yaml
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
  internal/service/alarms/internal/serviceconfig/serviceconfig_test.go
  internal/service/alarms/internal/serviceconfig/suite_test.go
  internal/service/alarms/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26094: Use psql variable binding for password in init.sh
  internal/service/postgres/files/init.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add -X (--no-psqlrc) to non-interactive psql calls in init.sh
  internal/service/postgres/files/init.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

docs: align IBI callback design
  docs/proposals/automated-seed-image-generation.md
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

CNF-26914: Treat unchanged nodes without Configured as complete (#4352)
  api/hardwaremanagement/v1alpha1/conditions.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26091: Redact last-applied-configuration in must-gather Secret collection
  must-gather/gather
  must-gather/tests/redact_secret_test.sh
Due: none

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
