Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-fbc-4-19-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

Update installMode to OwnNamespace
  Makefile
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: none

Update installMode to OwnNamespace (#754)
  Makefile
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: none

Red Hat Konflux update o-cloud-manager-fbc-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none

Automatically create metal3 and loopback HardwarePlugin CRs
  hwmgr-plugins/controller/hardwareplugin_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Automatically create metal3 and loopback HardwarePlugin CRs (#756)
  hwmgr-plugins/controller/hardwareplugin_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Red Hat Konflux purge o-cloud-manager-fbc-4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-19-push.yaml
Due: o-cloud-manager-fbc-4-19-on-push

format common pipeline
  .tekton/build-pipeline.yaml
Due: none

add 'generate-labels' to the common pipeline
  .tekton/build-pipeline.yaml
Due: none

fix example
  hack/konflux-validate-related-images-production.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

add initial common pipeline
  .tekton/build-pipeline.yaml
Due: none

add 4.20 pull and push build pipelines
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
Due: none

add 4.20 bundle push and pull build pipelines
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: none

add 'skip-sast-coverity' to the common pipeline
  .tekton/build-pipeline.yaml
Due: none

add 'generate-labels' and LABELS to the common pipeline
  .tekton/build-pipeline.yaml
Due: none

Remove allocatedNodeLabel on a node deletion
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
Due: none

Remove allocatedNodeLabel on a node deletion (#759)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
Due: none

add 'image-append-platform' to the common pipeline
  .tekton/build-pipeline.yaml
Due: none

add 'additional-tags' to the fbc common pipeline
  .tekton/fbc-pipeline.yaml
Due: none

set 4.20 Dockerfiles
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
Due: o-cloud-manager-fbc-4-19-on-push

set 4.20 release logic
  .konflux/overlay/overlay.bash
Due: none

set 4.20 pipelines
  Makefile
Due: none

set 4.20 yaml config
  .konflux/bundle/metadata/annotations.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .tekton/images-mirror-set.yaml
Due: o-cloud-manager-fbc-4-19-on-push

update 4.20 bundle push and pull build pipelines
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: none

add fbc common pipeline
  .tekton/fbc-pipeline.yaml
Due: none

delete all 4.19 build pipelines
  .tekton/o-cloud-manager-4-19-build.yaml
  .tekton/o-cloud-manager-4-19-pull-request.yaml
  .tekton/o-cloud-manager-4-19-push.yaml
  .tekton/o-cloud-manager-bundle-4-19-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-19-push.yaml
  .tekton/o-cloud-manager-fbc-4-19-build.yaml
  .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-19-push.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-fbc-4-19-on-push

add 4.20 pull and push fbc build pipelines
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none

disable fbc builds so far
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none

disable bundle builds so far
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: none

deploy 4.20 o-cloud over konflux (#758)
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/bundle/metadata/annotations.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/overlay.bash
  .konflux/overlay/pin_images.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/fbc-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
  .tekton/o-cloud-manager-bundle-4-19-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
  .tekton/o-cloud-manager-fbc-4-19-build.yaml
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
  Makefile
  hack/konflux-validate-related-images-production.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-fbc-4-19-on-push

CNF-18182:Remove assisted service day 2 workaround
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
Due: none

Update Konflux references
  .tekton/build-pipeline.yaml
Due: none

Update quay.io/konflux-ci/konflux-vanguard/task-rpms-signature-scan:0.2 Docker digest to 6d7e2f9
  .tekton/build-pipeline.yaml
Due: none

Update HardwareTemplate ResourceSelector field
  api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwaretemplates.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/clcm.openshift.io_hardwaretemplates.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  test/e2e/e2e_suite_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update HardwareTemplate ResourceSelector field (#763)
  api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwaretemplates.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/clcm.openshift.io_hardwaretemplates.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  test/e2e/e2e_suite_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push
