Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

Fix hwplugin I: rename resourcePoolId label to resourcePoolName, delete siteId label
  internal/constants/constants.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/undeploy_scenario_test.go
  internal/controllers/resourcepool_controller.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

New model II: remove unnecessary webhooks
  api/inventory/v1alpha1/location_webhook.go
  api/inventory/v1alpha1/ocloudsite_webhook.go
  api/inventory/v1alpha1/resourcepool_webhook.go
  config/webhook/manifests.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add webhooks to manage duplication logic for Location, OCloudSite and ResourcePool CRs
  api/inventory/v1alpha1/location_webhook.go
  api/inventory/v1alpha1/ocloudsite_webhook.go
  api/inventory/v1alpha1/resourcepool_webhook.go
  config/webhook/manifests.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/webhook_integration_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

New model III: update controllers
  api/inventory/v1alpha1/inventory_constants.go
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/undeploy_scenario_test.go
  internal/controllers/envtest/webhook_integration_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
  internal/controllers/utils/hierarchy_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix hwplugin II: fix openapi
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
Due: none

Add Location, OCloudSite and ResourcePool data sources in collector and serve
  internal/service/resources/collector/collector.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

New model I: use name based references in CRs.
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  bundle/manifests/ocloud.openshift.io_locations.yaml
  bundle/manifests/ocloud.openshift.io_ocloudsites.yaml
  bundle/manifests/ocloud.openshift.io_resourcepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Fix hwplugin III: add RBAC permissions and type for ResourcePools
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  internal/controllers/metal3plugin_server_setup.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Introduce indexers for Location, OCloudSites and ResourcePool CRs
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove resourcepool controller rbac for bmh (coderabbit)
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add namespace filter to ocloudsite and resourcepool controllers (coderabbit)
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Handle both collector and DB JSON shapes in LocationToModel (coderabbit)
  internal/service/resources/db/models/converters.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove finalizers IV: test collector with status transitions
  internal/service/resources/collector/envtest/ready_filter_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add extra validation for Location civicAddress and address (coderabbit)
  api/inventory/v1alpha1/location_types.go
  bundle/manifests/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_locations.yaml
  internal/service/resources/collector/envtest/collector_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Fix panic on send to closed channel in ReflectorStore
  internal/service/common/async/store.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove unused RBAC permission in ocloudsite controller (coderabbit)
  internal/controllers/ocloudsite_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add new generated code for alarms and resources after bumping oapi-codegen
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Check errors for envtests functions exhaustively
  test/utils/functions.go
Due: none

Update doc
  .gitattributes
  docs/images/data-model-relationships.mmd
  docs/images/data-model-relationships.svg
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno2.yaml
  docs/samples/git-setup/clustertemplates/inventory/kustomization.yaml
  docs/samples/git-setup/clustertemplates/inventory/location.yaml
  docs/samples/git-setup/clustertemplates/inventory/ocloudsite.yaml
  docs/samples/git-setup/clustertemplates/inventory/oran-ns.yaml
  docs/samples/git-setup/clustertemplates/inventory/resourcepool.yaml
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/uninstall.md
Due: none

Stop polling when the parent is already being watched (coderabbit)
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Constrain Find and Update key parameters to PrimaryKeyType (coderabbit)
  internal/service/common/utils/persist.go
  internal/service/common/utils/repository.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix resourcepool test assertion (coderabbit)
  internal/service/resources/collector/envtest/resourcepool_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove finalizers III: fix controllers
  api/inventory/v1alpha1/inventory_constants.go
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/undeploy_scenario_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix collector test by asserting all expected events (coderabbit)
  internal/service/resources/collector/envtest/ocloudsite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Improve test assertion, don't leak internals (coderabbit)
  internal/service/resources/api/server_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove finalizers V: fix undeploy/uninstall
  Makefile
  docs/user-guide/uninstall.md
Due: none

Lessen RBAC permissions for controllers (coderabbit)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Allow the optional altitude element in coordinate.coordinates (coderabbit)
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix notifications for Location and OCloudsite (coderabbit)
  internal/constants/constants.go
  internal/service/resources/db/models/converters.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix test/e2e, multicluster-observability-operator crd path
  test/utils/vars.go
Due: none

Fix ObservedGeneration in location,ocloudsite and resourcepool (coderabbit)
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: prevent race condition in MNO node allocation
  hwmgr-plugins/metal3/controller/helpers.go
Due: none

feat: make network-data secret optional for BMH provisioning
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
Due: none

fix: remove unnecessary ConfigUpdate check in ClusterProvisioned guard
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
Due: none

fix: address CodeRabbit review - handle non-NotFound errors for Secret lookup
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
Due: none

feat: add post-provisioning notification for IBI node management
  api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

fix: address CodeRabbit review comments for IBI post-provisioning
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: address CodeRabbit review - avoid hardcoding label name in deprovisioning guidance
  docs/user-guide/ibi-based-cluster-provisioning.md
Due: none

docs: add IBI resource selector and deprovisioning guidance
  docs/user-guide/ibi-based-cluster-provisioning.md
Due: none
