Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-22:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

Add collector methods to read CRs, test by envtest
  Makefile
  internal/service/resources/collector/collector_locations.go
  internal/service/resources/collector/collector_locations_envtest_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add repo methods to create/update location and ocloudsites
  internal/service/common/utils/repository.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add collector methods to purge locations and ocloudsites
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Refactor collector locations and ocloudsites to independent data sources
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add collector methods to create/update location and ocloudsite tables
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwplugin.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix collector lint errors
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add collector methods to read location and ocloudsite CRs, test by envtest
  Makefile
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_locations.go
  internal/service/resources/collector/collector_locations_envtest_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add repo methods to find stale locations and ocloudsites
  api/common/zz_generated.deepcopy.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add watch based locations and ocloudsites data sources, test by envtest
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_locations_envtest_test.go
  internal/service/resources/collector/collector_ocloudsite.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add locations and ocloudsites data sources to collector
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove polling based collector for locations and ocloudsites
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_locations_envtest_test.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add collector event handlers for locations and ocloudsites
  internal/service/common/utils/persist.go
  internal/service/common/utils/repository.go
  internal/service/common/utils/utils_test.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove polling based repo methods for locations and ocloudsites
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add Resourcepool new CRD, test by envtest
  api/common/zz_generated.deepcopy.go
  api/inventory/v1alpha1/resourcepool_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  internal/service/resources/collector/collector_locations_envtest_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix deepcopy
  api/common/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add repo methods to find stale resourcepools
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add watch based resourcepool data source, test by envtest
  internal/service/resources/collector/collector_locations_envtest_test.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove hwmgr-plugins based resourcepool and dependencies
  api/common/zz_generated.deepcopy.go
  hwmgr-plugins/api/client/inventory/client.go
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/api/server/inventory/server.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/server/inventory_server.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/suite_test.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwplugin.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove status in locations, ocloudsites and resourcepools
  api/common/zz_generated.deepcopy.go
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add resourcepool data source to collector
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix purgeStaleResourceTypes
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add collector event handlers for resourcepools
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove deprecated inventory fields definitely
  api/inventory/v1alpha1/resourcepool_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  docs/deprecations/README.md
  docs/deprecations/resource-pool-fields.md
  docs/deprecations/resource-type-fields.md
  docs/enhancements/infrastructure-inventory-services-api/resource-server.md
  docs/enhancements/infrastructure-inventory-services-api/resource-server.sql
  docs/user-guide/server-onboarding.md
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/common/deprecation/registry.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_locations_envtest_test.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/db/migrations/000002_v11.down.sql
  internal/service/resources/db/migrations/000002_v11.up.sql
  internal/service/resources/db/migrations/000002_v11_locations_sites.down.sql
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/resource_pool.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Update docs
  docs/images/data-model-relationships.mmd
  docs/images/data-model-relationships.svg
  docs/samples/git-setup/clustertemplates/inventory/common.yaml
  docs/samples/git-setup/clustertemplates/inventory/kustomization.yaml
  docs/samples/git-setup/clustertemplates/inventory/location.yaml
  docs/samples/git-setup/clustertemplates/inventory/ocloudsite.yaml
  docs/samples/git-setup/clustertemplates/inventory/resourcepool.yaml
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
Due: none

Fix error log
  internal/service/common/utils/repository.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21917: Fix min_kube_version for OCP 4.22 (1.32.0 -> 1.35.0)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-21917: Fix min_kube_version for OCP 4.21 (1.32.0 -> 1.34.0)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-21917: Fix min_kube_version for OCP 4.20 (1.32.0 -> 1.33.0)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-21914: update o-cloud-manager version to 4.20.3 in release configuration
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-21914: update o-cloud-manager version to 4.20.3 in release configuration (#1889)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-21914: Update o-cloud-manager version to 4.20.3 and adjust related bundle configurations
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-21914: Update o-cloud-manager version to 4.20.3 and adjust related bundle configurations (#1895)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

fix: remove AI deprovision finalizer from PreprovisioningImage during cleanup
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
Due: none

CNF-22092: update o-cloud-manager version to 4.21.3
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-22092: update o-cloud-manager version to 4.21.3 (#1916)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-22092: Update o-cloud-manager to version 4.21.3 and adjust bundle references
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-22092: Update o-cloud-manager to version 4.21.3 and adjust bundle references (#1919)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Bump the k8s group across 1 directory with 4 updates (#1928)
  go.mod
  go.sum
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore(deps): group oapi-codegen dependencies in dependabot
  .github/dependabot.yml
Due: none

chore(deps): group oapi-codegen dependencies in dependabot (#1933)
  .github/dependabot.yml
Due: none

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
