Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

Add Loopback HardwarePlugin server infrastructure (#709)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  hwmgr-plugins/controller/utils/allocated_node.utils.go
  hwmgr-plugins/controller/utils/node_allocation_request.utils.go
  hwmgr-plugins/loopback/cmd/start_loopbackplugin_server.go
  hwmgr-plugins/loopback/controllers/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/loopback/server/server.go
  internal/controllers/inventory_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/utils.go
  main.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Handle NodeAllocationRequest creation / updation / deletion for the Loopback HardwarePlugin (#711)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/controller/utils/node_allocation_request.utils.go
  hwmgr-plugins/loopback/cmd/start_loopbackplugin_server.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/loopback/controller/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/controller/nodelist_configmap.go
  internal/controllers/utils/configmap.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Add Loopback HardwarePlugin server endpoint implementations (#712)
  hwmgr-plugins/api/generated/client/client.generated.go
  hwmgr-plugins/api/generated/server/server.generated.go
  hwmgr-plugins/api/openapi.yaml
  hwmgr-plugins/loopback/cmd/start_loopbackplugin_server.go
  hwmgr-plugins/loopback/controller/constants.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/loopback/controller/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/server/helpers.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/loopback/server/server.go
Due: none

Add shared common authentication data types (#703)
  api/common/common_types.go
  api/common/go.mod
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/go.mod
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  api/inventory/go.mod
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  go.mod
  vendor/github.com/openshift-kni/oran-o2ims/api/common/common_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/common/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update provisioning requeue intervals on plugin interactions (#738)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Fix CRD metadata definitions for scorecards (#744)
  PROJECT
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/hardwaremanagement_v1alpha1_hardwareplugin.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_hardwareplugin.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  config/samples/v1alpha1_inventory.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Automatically create metal3 and loopback HardwarePlugin CRs (#756)
  hwmgr-plugins/controller/hardwareplugin_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Refactor client provider to use authType (#704)
  go.mod
  internal/controllers/utils/utils.go
  internal/service/common/api/utils.go
  internal/service/common/api/utils_test.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/notifier/provider.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Add hwmgr-plugins scaffolding content and openapi specification (#686)
  hwmgr-plugins/api/generated/plugins.generated.go
  hwmgr-plugins/api/middleware.go
  hwmgr-plugins/api/openapi.yaml
  hwmgr-plugins/api/tools/generate.go
  hwmgr-plugins/api/tools/oapi-codegen.yaml
Due: none

CNF-18182:Remove assisted service day 2 workaround (#761)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
Due: none

metal3: Update inventory reporting (#737)
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/server/inventory_server.go
  internal/service/cluster/collector/collector.go
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Add new HardwarePlugin CustomResourceDefinition for registering HW plugins (#690)
  PROJECT
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims-hardwaremanagement-hardwareplugin-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-hardwaremanagement-hardwareplugin-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  config/crd/kustomization.yaml
  config/rbac/hardwaremanagement_hardwareplugin_editor_role.yaml
  config/rbac/hardwaremanagement_hardwareplugin_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/samples/hardwaremanagement_v1alpha1_hardwareplugin.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Fix rbac permissions for updating NodeAllocationRequests (change put -> update) (#735)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Add HardwareProfile CRD (#708)
  PROJECT
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims-o2ims-hardwaremanagement-hardwareprofile-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-o2ims-hardwaremanagement-hardwareprofile-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareprofiles.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/o2ims-hardwaremanagement_hardwareprofile_editor_role.yaml
  config/rbac/o2ims-hardwaremanagement_hardwareprofile_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

CNF-18183:: Added BMH deprovisioning on AllocatedNode deletion (#748)
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
Due: none

Add validation logic when registering a new HardwarePlugin (#706)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  hwmgr-plugins/controller/hardwareplugin_controller.go
  internal/controllers/hardwareplugin_manager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update day2 config interactions with plugin (#752)
  api/hardwaremanagement/v1alpha1/node_allocation_requests.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_nodeallocationrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_nodeallocationrequest.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/loopback/controller/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/controller/nodelist_configmap.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/node_allocation_requests.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update HardwareTemplate ResourceSelector field (#763)
  api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwaretemplates.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/clcm.openshift.io_hardwaretemplates.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  test/e2e/e2e_suite_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Remove allocatedNodeLabel on a node deletion (#759)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
Due: none

Update installMode to OwnNamespace (#754)
  Makefile
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: none

Add inventory server (#736)
  hwmgr-plugins/api/client/provisioning/client.go
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/client/provisioning/helpers.go
  hwmgr-plugins/api/middleware.go
  hwmgr-plugins/api/openapi/codegen/configs/inventory-oapi-codegen-server.yaml
  hwmgr-plugins/api/openapi/codegen/configs/provisioning-oapi-codegen-client.yaml
  hwmgr-plugins/api/openapi/codegen/configs/provisioning-oapi-codegen-server.yaml
  hwmgr-plugins/api/openapi/codegen/generator.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/api/server/inventory/server.go
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/api/tools/generate.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/loopback/controller/inventory.go
  hwmgr-plugins/loopback/server/inventory_server.go
  hwmgr-plugins/loopback/server/provisioning_server.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/server/inventory_server.go
  hwmgr-plugins/metal3/server/provisioning_server.go
  hwmgr-plugins/metal3/server/serve.go
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/hardware_utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Add missing RBAC permissions for hardware manager provisioning API (#733)
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Add hardwareplugin controller manager (#695)
  .containerignore
  Dockerfile
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  hwmgr-plugins/cmd/start_hardwareplugin_manager.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/controller/utils/conditions.go
  hwmgr-plugins/controller/utils/utils.go
  internal/controllers/hardwareplugin_manager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  internal/logging/logging.go
  internal/typed-errors/typed_errors.go
  internal/typed-errors/typed_errors_test.go
  main.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update metadata to replace ORAN O2IMS references (#746)
  api/hardwaremanagement/v1alpha1/allocated_nodes.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  api/inventory/v1alpha1/inventory_types.go
  api/provisioning/v1alpha1/clustertemplate_types.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_allocatednodes.yaml
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_allocatednodes.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/cluster-provisioning.md
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/service/postgres/files/init.sh
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/allocated_nodes.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/clustertemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Add metal3 hardware plugin server and controller infrastructure (#720)
  hwmgr-plugins/api/server/helpers.go
  hwmgr-plugins/api/server/server.go
  hwmgr-plugins/controller/utils/constants.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_controller.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/server.go
  internal/controllers/inventory_controller.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  main.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Improve how the host node ID label is applied to an agent post provisioning (#732)
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/utils/hardware_utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Red Hat Konflux update o-cloud-manager-fbc-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: o-cloud-manager-fbc-4-20-on-push

Update dependency deletion order in PR finalizer
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update sample CRDs to reflect latest changes
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_allocatednode.yaml
  config/samples/v1alpha1_hardwaretemplate.yaml
  config/samples/v1alpha1_nodeallocationrequest.yaml
Due: none

Update dependency deletion order in PR finalizer (#765)
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push

Update sample CRDs to reflect latest changes (#766)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_allocatednode.yaml
  config/samples/v1alpha1_hardwaretemplate.yaml
  config/samples/v1alpha1_nodeallocationrequest.yaml
Due: none

- Add unit tests for metal3 plugin
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager_test.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager.go
  hwmgr-plugins/metal3/controller/hostupdatepolicy_manager_test.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller_test.go
  hwmgr-plugins/metal3/controller/suite_test.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/mocks_test.go
  hwmgr-plugins/metal3/server/provisioning_server_test.go
  hwmgr-plugins/metal3/server/serve_test.go
  hwmgr-plugins/metal3/server/suite_test.go
Due: none

Wait for BMH to become Available before powering off the host
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
Due: none

chore(deps): update konflux references
  .tekton/build-pipeline.yaml
Due: none

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
