Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-22:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

CNF-26092: Redact OAuth secrets in crd-watcher debug logs
  dev-tools/crd-watcher/README.md
  dev-tools/crd-watcher/inventory.go
  dev-tools/crd-watcher/inventory_test.go
  dev-tools/crd-watcher/main.go
Due: none

Wrap io.ReadAll error in test recordingRoundTripper
  dev-tools/crd-watcher/inventory_test.go
Due: none

CNF-26438: Provision cluster with nodeGroups format for ClusterInstance
  .golangci.yml
  docs/samples/clusterInstanceParameters-legacy-nodes.yaml
  docs/samples/clusterInstanceParameters-nodeGroups.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/3node-ran-du/3node-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/3node-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/std-ran-du-v4-Y-Z-1.yaml
  docs/user-guide/template-overview.md
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  test/resources/mno_cv_upgrade/clusterinstance-defaults-v1.yaml
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
  test/resources/mno_cv_upgrade/pr-std.yaml
  test/resources/mno_hw_configuration/clusterinstance-defaults-v1.yaml
  test/resources/mno_hw_configuration/ct-std-dell-r740-green-xr8620t-blue.yaml
  test/resources/mno_hw_configuration/pr-std-fail.yaml
  test/resources/mno_hw_configuration/pr-std-succeed.yaml
  test/resources/mno_hw_configuration/pr-std.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26092: Redact OAuth secrets in crd-watcher debug logs (#3923)
  dev-tools/crd-watcher/README.md
  dev-tools/crd-watcher/inventory.go
  dev-tools/crd-watcher/inventory_test.go
  dev-tools/crd-watcher/main.go
Due: none

CNF-26087: Remove spoofable RFC9440 Client-Cert branch in RFC8705 verification
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26087: Strip RFC9440 headers for all requests in client verification
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26081: Scope controller-manager ServiceAccount to least-privilege RBAC
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/networkpolicy_role.yaml
  config/rbac/role.yaml
  config/rbac/rolebinding_manager.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26440: Support Day-2 worker scale-in/out with nodeGroups format
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision_test.go
  test/e2e/mno_scale_test.go
  test/resources/mno_scale/clusterinstance-defaults-v1.yaml
  test/resources/mno_scale/clusterinstance-defaults-v2.yaml
  test/resources/mno_scale/ct-scale.yaml
  test/resources/mno_scale/pr-scale-initial.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26438: Provision cluster with nodeGroups format for ClusterInstance (#3924)
  .golangci.yml
  docs/samples/clusterInstanceParameters-legacy-nodes.yaml
  docs/samples/clusterInstanceParameters-nodeGroups.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/3node-ran-du/3node-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/3node-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/std-ran-du-v4-Y-Z-1.yaml
  docs/user-guide/template-overview.md
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  test/resources/mno_cv_upgrade/clusterinstance-defaults-v1.yaml
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
  test/resources/mno_cv_upgrade/pr-std.yaml
  test/resources/mno_hw_configuration/clusterinstance-defaults-v1.yaml
  test/resources/mno_hw_configuration/ct-std-dell-r740-green-xr8620t-blue.yaml
  test/resources/mno_hw_configuration/pr-std-fail.yaml
  test/resources/mno_hw_configuration/pr-std-succeed.yaml
  test/resources/mno_hw_configuration/pr-std.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26440: Allow Day-2 worker scale-in/out with nodeGroups format
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/constants/constants.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  test/e2e/mno_scale_test.go
  test/resources/mno_scale/clusterinstance-defaults-v1.yaml
  test/resources/mno_scale/clusterinstance-defaults-v2.yaml
  test/resources/mno_scale/ct-scale.yaml
  test/resources/mno_scale/pr-scale-initial.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26441: Migrate SNO samples and e2e to nodeGroups and deprecate flat nodes
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_clustertemplate.yaml
  config/samples/v1alpha1_provisioningrequest.yaml
  docs/samples/clusterInstanceParameters-legacy-nodes.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-ibi.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-5.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-6.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/clusterinstance-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/template-overview.md
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  test/e2e/sno_provisioning_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26081: Scope controller-manager ServiceAccount to least-privilege RBAC (#3547)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/networkpolicy_role.yaml
  config/rbac/role.yaml
  config/rbac/rolebinding_manager.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26586: Update registry namespace from openshift4 to openshift5
  .konflux/Dockerfile.bundle
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-5-0-pull-request.yaml
  .tekton/o-cloud-manager-5-0-push.yaml
  .tekton/o-cloud-manager-bundle-5-0-pull-request.yaml
  .tekton/o-cloud-manager-bundle-5-0-push.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-26586: Update registry namespace from openshift4 to openshift5 (#3937)
  .konflux/Dockerfile.bundle
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/overlay/map_images.in.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-5-0-pull-request.yaml
  .tekton/o-cloud-manager-5-0-push.yaml
  .tekton/o-cloud-manager-bundle-5-0-pull-request.yaml
  .tekton/o-cloud-manager-bundle-5-0-push.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-26441: Migrate SNO samples and e2e to nodeGroups and deprecate flat nodes (#4008)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_clustertemplate.yaml
  config/samples/v1alpha1_provisioningrequest.yaml
  docs/samples/clusterInstanceParameters-legacy-nodes.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-ibi.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-5.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-6.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/clusterinstance-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/template-overview.md
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  test/e2e/sno_provisioning_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-26440: Allow Day-2 worker scale-in/out with nodeGroups format (#4006)
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/constants/constants.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  test/e2e/mno_scale_test.go
  test/resources/mno_scale/clusterinstance-defaults-v1.yaml
  test/resources/mno_scale/clusterinstance-defaults-v2.yaml
  test/resources/mno_scale/ct-scale.yaml
  test/resources/mno_scale/pr-scale-initial.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26087: Remove spoofable RFC9440 Client-Cert branch in RFC8705 verification (#3942)
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26082: Restrict alarms-server CronJob privileges (ORAN-O2IMS-2026-008)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/kustomization.yaml
  config/rbac/kustomizeconfig.yaml
  config/rbac/role_alarms_server.yaml
  config/rbac/validatingadmissionpolicy_alarms_server.yaml
  internal/service/alarms/internal/serviceconfig/serviceconfig_test.go
  internal/service/alarms/internal/serviceconfig/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Add coverage threshold for alarms serviceconfig package
  .coverage-thresholds.yaml
Due: none

CNF-26586: Fix catalog-idms to use only openshift5 for bundle post-rendering
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-26586: Fix catalog-idms to use only openshift5 for bundle post-rendering (#4067)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Update postgres image mapping to postgresql-18
  .konflux/overlay/map_images.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

Update postgres image mapping to postgresql-18 (#4068)
  .konflux/overlay/map_images.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-26652: Provision clusters with multiple worker MachineConfigPools
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/extra-manifest/custom-manifest/custom-machine-config-pools.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/clusterinstance-defaults-multi-mcp-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/policytemplates-defaults-multi-mcp-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/std-ran-du-multi-mcp-v4-Y-Z-1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/source-crs/custom-crs/ptpDaemonValidator.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/source-crs/custom-crs/sriovNetworkNodeStateValidator.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/source-crs/custom-crs/workerMcpsValidator.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/std-ran-du/std-ran-du-pg-multi-mcp-v4-Y-Z-v1.yaml
  docs/user-guide/template-overview.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

OCPBUGS-113988: Fix IBI PR deletion stall by cleaning up network-data secret during deallocation
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

OCPBUGS-113988: Fix IBI PR deletion stall by cleaning up network-data secret during deallocation (#4107)
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

OCPBUGS-113988: Fix IBI PR deletion stall by cleaning up network-data secret during deallocation (#4135)
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26652: Provision clusters with multiple worker MachineConfigPools (#4102)
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/extra-manifest/custom-manifest/custom-machine-config-pools.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/clusterinstance-defaults-multi-mcp-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/policytemplates-defaults-multi-mcp-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/std-ran-du/std-ran-du-multi-mcp-v4-Y-Z-1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/source-crs/custom-crs/ptpDaemonValidator.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/source-crs/custom-crs/sriovNetworkNodeStateValidator.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/source-crs/custom-crs/workerMcpsValidator.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/std-ran-du/std-ran-du-pg-multi-mcp-v4-Y-Z-v1.yaml
  docs/user-guide/template-overview.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-26768: Roll out day-2 worker hardware profile updates concurrently across MCPs
  docs/dev/e2e-test-overview.md
  docs/user-guide/firmware-update-workflow.md
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  test/e2e/mno_hw_configuration_test.go
  test/resources/mno_hw_configuration/clusterinstance-defaults-v1.yaml
  test/resources/mno_hw_configuration/ct-std-dell-r740-green-xr8620t-blue.yaml
  test/resources/mno_hw_configuration/pr-std-fail.yaml
  test/resources/mno_hw_configuration/pr-std-succeed.yaml
  test/resources/mno_hw_configuration/pr-std.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

docs: update user guides and GitOps samples
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node3.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node4.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node5.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node6.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node7.yaml
  docs/samples/git-setup/clustertemplates/inventory/resourcepool.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/schema/clusterInstanceParameters-legacy-nodes.yaml
  docs/samples/schema/clusterInstanceParameters-nodeGroups.yaml
  docs/samples/schema/hwMgmtParameters.yaml
  docs/samples/schema/policyTemplateSchema.yaml
  docs/samples/schema/upgradeParameters-clusterVersion.yaml
  docs/samples/schema/upgradeParameters-imageBasedGroupUpgrade.yaml
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/template-overview.md
  docs/user-guide/upgrade.md
Due: none

docs: update user guides and GitOps samples (#4132)
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node3.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node4.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node5.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node6.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-node7.yaml
  docs/samples/git-setup/clustertemplates/inventory/resourcepool.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/schema/clusterInstanceParameters-legacy-nodes.yaml
  docs/samples/schema/clusterInstanceParameters-nodeGroups.yaml
  docs/samples/schema/hwMgmtParameters.yaml
  docs/samples/schema/policyTemplateSchema.yaml
  docs/samples/schema/upgradeParameters-clusterVersion.yaml
  docs/samples/schema/upgradeParameters-imageBasedGroupUpgrade.yaml
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/template-overview.md
  docs/user-guide/upgrade.md
Due: none

Address CodeRabbit review: fail closed on invalid categories and stream log files
  docs/user-guide/must-gather.md
  must-gather/redact_logs.py
  must-gather/test_redact_logs.py
Due: none

CNF-26611: Redact sensitive fields in must-gather pod logs
  .gitignore
  Dockerfile.must-gather
  Makefile
  docs/user-guide/must-gather.md
  must-gather/gather
  must-gather/redact_logs.py
  must-gather/test_redact_logs.py
Due: none

Redact sensitive fields in collected CRs as well as pod logs
  docs/user-guide/must-gather.md
  must-gather/gather
  must-gather/redact_logs.py
  must-gather/test_redact_logs.py
Due: none

Redact sensitive fields inside embedded JSON string values
  must-gather/redact_logs.py
  must-gather/test_redact_logs.py
Due: none

CNF-26768: Roll out day-2 worker hardware profile updates concurrently across MCPs (#4143)
  docs/dev/e2e-test-overview.md
  docs/user-guide/firmware-update-workflow.md
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  test/e2e/mno_hw_configuration_test.go
  test/resources/mno_hw_configuration/clusterinstance-defaults-v1.yaml
  test/resources/mno_hw_configuration/ct-std-dell-r740-green-xr8620t-blue.yaml
  test/resources/mno_hw_configuration/pr-std-fail.yaml
  test/resources/mno_hw_configuration/pr-std-succeed.yaml
  test/resources/mno_hw_configuration/pr-std.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

OCPBUGS-112346: Add guidance on handling Secrets in GitOps
  README.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/secrets-management.md
  docs/user-guide/server-onboarding.md
Due: none

CNF-25915: Update HardwareProfile API to reference FirmwareCatalog entries
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  config/webhook/manifests.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/firmware-update-workflow.md
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/firmwarecatalog_controller_test.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/firmware_catalog_test.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
  test/resources/mno_hw_configuration/firmware-catalog.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-r740-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v1.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v3.yaml
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
