Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

[CNF-22896] Fix: Missing hello world startup log in oran-o2ims controller (openshift-kni/oran-o2ims)
  .forge/handoff.md
  .forge/history/CNF-22896.json
  .forge/task.json
Due: none

[CNF-22894-qualreview] Qualitative bug review — root cause and test coverage
  .forge/handoff.md
  .forge/history/CNF-22894-qualreview.json
  .forge/task.json
Due: none

[CNF-22896] Add test coverage and documentation for 'Hello, World!' startup log
  docs/startup-logging-requirement.md
  internal/cmd/operator/start_controller_manager_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[CNF-22896] Fix: Missing hello world startup log in oran-o2ims controller (openshift-kni/oran-o2ims)
  .forge/handoff.md
  .forge/history/CNF-22896.json
Due: none

OCPBUGS-87154: fix day-2 hardware config when nodeClusterName differs from clusterName (#2743)
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/node_operations.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[CNF-22894-docs] Update documentation to reflect controller manager startup logging
  docs/dev/debugging.md
  docs/troubleshooting.md
Due: none

[CNF-22894-docs] Update stale documentation
  .forge/handoff.md
  .forge/history/CNF-22894-docs.json
  .forge/task.json
Due: none

[CNF-22898] Add Hello, World! greeting to controller manager startup log
  internal/cmd/operator/start_controller_manager.go
  internal/cmd/operator/start_controller_manager_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[CNF-22897-review-analyze] Analyze PR review feedback for CNF-22897
  .forge/handoff.md
  .forge/history/CNF-22897-review-analyze.json
  .forge/review-comments.md
  .forge/review-plan.md
  .forge/task.json
Due: none

[CNF-22897] review: address PR feedback
  internal/cmd/operator/start_controller_manager.go
  internal/cmd/operator/start_controller_manager_test.go
  internal/cmd/operator/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

[CNF-22897-review-fix] Implement PR review plan for CNF-22897
  .forge/handoff.md
  .forge/history/CNF-22897-review-fix.json
  .forge/task.json
Due: none

[CNF-22897-review-review-impl] Post-review-impl code review
  .forge/handoff.md
  .forge/history/CNF-22897-review-review-impl.json
  .forge/task.json
Due: none

Ignore forge directory
  .gitignore
Due: none

Ignore forge directory (#2752)
  .gitignore
Due: none

CNF-24288: wire context-aware logging handler into all pods
  internal/cmd/operator/start_controller_manager.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/logging/logging.go
  internal/service/alarms/cmd/root.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/serve.go
  internal/service/artifacts/cmd/root.go
  internal/service/artifacts/cmd/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/cmd/root.go
  internal/service/cluster/cmd/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/provisioning/cmd/root.go
  internal/service/provisioning/cmd/serve.go
  internal/service/provisioning/serve.go
  internal/service/resources/cmd/root.go
  internal/service/resources/cmd/serve.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24288: wire context-aware logging handler into all pods (#2690)
  internal/cmd/operator/start_controller_manager.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/logging/logging.go
  internal/service/alarms/cmd/root.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/serve.go
  internal/service/artifacts/cmd/root.go
  internal/service/artifacts/cmd/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/cmd/root.go
  internal/service/cluster/cmd/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/provisioning/cmd/root.go
  internal/service/provisioning/cmd/serve.go
  internal/service/provisioning/serve.go
  internal/service/resources/cmd/root.go
  internal/service/resources/cmd/serve.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24288: add context enrichment and fix log quality issues (Phase 3)
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/logging_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/logging/logging.go
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/cluster/collector/collector.go
  internal/service/common/api/middleware/middleware.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/provisioning/api/server.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: log URL path only, not full RequestURI with query string
  internal/service/common/api/middleware/middleware.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24577: move database query logging from INFO to DEBUG level
  internal/service/common/db/postgres.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24577: move database query logging from INFO to DEBUG level (#2760)
  internal/service/common/db/postgres.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24288: add context enrichment and fix log quality issues (Phase 3) (#2759)
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/logging_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/logging/logging.go
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/cluster/collector/collector.go
  internal/service/common/api/middleware/middleware.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/provisioning/api/server.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/collector/collector.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: remove AppendCtx from leaf functions and align field naming
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24578: add BMH/node context enrichment and standardize field naming
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/hardwaremanager/controller/hostupdatepolicy_manager.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: add bmh/node context in collector and controller entry points
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  internal/service/resources/collector/collector_hwmgr.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: remove redundant node AppendCtx from child functions
  internal/hardwaremanager/controller/helpers.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: Commit generated files
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/common/api/generated/common.generated.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/resources/api/generated/inventory.generated.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24583: thread context through NAR timeout check function
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: format slog.Duration as human-readable strings in JSON logs
  internal/logging/logger.go
  internal/logging/logger_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24640: Upstream release-config version bump (4.22.0)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-24640: Upstream release-config version bump (4.22.0) (#2777)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-24583: thread context through NAR timeout check function (#2774)
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: format slog.Duration as human-readable strings in JSON logs (#2776)
  internal/logging/logger.go
  internal/logging/logger_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24578: add BMH/node context enrichment and standardize field naming (#2761)
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/hardwaremanager/controller/hostupdatepolicy_manager.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/resources/collector/collector_hwmgr.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24640: Upstream catalog-template update (4.22.0)
  .konflux/catalog/bundle.builds.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-24640: Upstream catalog-template update (4.22.0)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Add skipRange to v4.22.1 channel entries
  .konflux/catalog/catalog-template.in.yaml
Due: none

Add hello-world.sh script to hack folder
  hack/hello-world.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push
