Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

o-cloud-manager-4-19-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-19:{{revision}}
  - name: dockerfile
    value: .konflux/Dockerfile
  - name: hermetic
    value: 'true'
  ...

o-cloud-manager-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

o-cloud-manager-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-4-22-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-4-22:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
    value: .konflux/Dockerfile
  ...

o-cloud-manager-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

o-cloud-manager-fbc-4-19-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-19:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
  - name: dockerfile
  ...

o-cloud-manager-fbc-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/o-cloud-manager-fbc-4-20:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

Fix major upgrade precondition Upgradeable handling (#4560)
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/upgrade.go
  internal/controllers/utils/upgrade_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

docs: fix stale documentation links
  README.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/extra-manifest/README.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/extra-manifest/README.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/template-overview.md
Due: none

docs: fix stale documentation links (#4569)
  README.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/extra-manifest/README.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/extra-manifest/README.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/template-overview.md
Due: none

docs: update OpenShift and ACM references
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/environment-setup.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/prereqs.md
  docs/user-guide/upgrade.md
Due: none

docs: update OpenShift and ACM references (#4570)
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/environment-setup.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/prereqs.md
  docs/user-guide/upgrade.md
Due: none

CNF-27072: Support MNO upgrades with multiple worker pools
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  docs/dev/e2e-test-overview.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/schema/upgradeParameters-clusterVersion.yaml
  docs/user-guide/upgrade.md
  internal/constants/constants.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/upgrade.go
  internal/controllers/utils/upgrade_test.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/resources/mno_cv_upgrade/clusterinstance-defaults-v1.yaml
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
  test/resources/mno_cv_upgrade/pr-std.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

OCPBUGS-112346: Address review feedback on Secrets guidance
  docs/user-guide/secrets-management.md
Due: none

OCPBUGS-112346: Add guidance on handling Secrets in GitOps
  README.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/secrets-management.md
  docs/user-guide/server-onboarding.md
Due: none

OCPBUGS-112346: Add guidance on handling Secrets in GitOps (#4150)
  README.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/secrets-management.md
  docs/user-guide/server-onboarding.md
Due: none

docs: fix IBI pre-provisioning state machine and sample fidelity
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: pin ISO-server CA ConfigMap key and clarify workspace storage
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: clarify ACM cleanup ownership, PR lifecycle, IBI/IBU scope, cert mgmt
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: trim IBI pre-provisioning proposal under 100KB
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: clarify seed sample schema abbreviation and CA-bundle key contract
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: address IBI pre-provisioning review, add ToC, trim under 100KB
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: add IBI server pre-provisioning proposal
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: add automated seed image and live ISO generation proposal
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: split seed PR-facing and effective-object schemas
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: trim seed image proposal under 100KB
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: use hub admin kubeconfig for spoke access during seed generation
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: preflight installer extraction
  docs/proposals/automated-seed-image-generation.md
Due: none

docs: align IBI callback design
  docs/proposals/automated-seed-image-generation.md
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: address remaining review findings
  docs/proposals/automated-seed-image-generation.md
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

docs: clarify proposal security boundaries
  docs/proposals/automated-seed-image-generation.md
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

proposal: IBI enhancements (#4174)
  docs/proposals/automated-seed-image-generation.md
  docs/proposals/ibi-server-pre-provisioning.md
Due: none

CNF-27072: Support MNO upgrades with multiple worker pools (#4551)
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  docs/dev/e2e-test-overview.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/schema/upgradeParameters-clusterVersion.yaml
  docs/user-guide/upgrade.md
  internal/constants/constants.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/upgrade.go
  internal/controllers/utils/upgrade_test.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/resources/mno_cv_upgrade/clusterinstance-defaults-v1.yaml
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
  test/resources/mno_cv_upgrade/pr-std.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-27529: Upstream release-config version bump (4.21.7)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-27529: Upstream release-config version bump (4.21.7) (#4593)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-27529: Upstream catalog-template update (4.21.7)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-27529: Upstream catalog-template update (4.21.7) (#4595)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

catalog: keep 4.22.2 as pinned channel only, do not replace in stable
  .konflux/catalog/catalog-template.in.yaml
Due: none

catalog: keep 4.22.2 as pinned channel only, do not replace in stable (#4596)
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-27577: Upstream release-config version bump (4.22.2)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-27577: Upstream release-config version bump (4.22.2) (#4597)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-27577: Upstream catalog-template update (4.22.2)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-18555: Migrate golang builder from brew to registry.redhat.io
  .konflux/Dockerfile
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

OCPBUGS-128287: skip reconciliation for deleting resources
  AGENTS.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add initial proposal for v13 o2ims interface
  docs/proposals/o2ims-v13.md
Due: none

CNF-25915: Add HardwareProfile webhook delete protection
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/utils/hardwareprofile_references.go
  internal/controllers/utils/hardwareprofile_references_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
