Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

CNF-25761: Redact DeploymentManager credentials on sync-completion delete events (#3332)
  internal/service/resources/collector/collector.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/converters_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore: improve scorecard test output and fix sample status (#3256)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
  hack/scorecard-summary.py
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-25763: Scope down RBAC Secret and ConfigMap access for service accounts (#3333)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/clusterrole_cluster_server.yaml
  config/rbac/clusterrole_resource_server.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

docs: add proposal for must-gather log redaction (#3016)
  docs/proposals/must-gather-log-redaction.md
Due: none

CNF-25762: Remove unused cluster-local callback code path (#3335)
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/common/api/utils.go
  internal/service/common/api/utils_test.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/notifier/provider.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24429: Implement comprehensive ClusterTemplate upgrade validation (#3321)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25839: Define FirmwareCatalog CRD types and register with scheme
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25840: Implement FirmwareCatalog controller and singleton lifecycle
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/hardwaremanager/controller/firmwarecatalog_controller.go
  internal/hardwaremanager/controller/setup.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25842: Implement FirmwareCatalog validating webhook for deletion protection
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  internal/cmd/operator/start_controller_manager.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25844: Add FirmwareCatalog to must-gather and write Phase 1 tests
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  internal/hardwaremanager/controller/firmwarecatalog_controller_test.go
  must-gather/gather
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25845: Run code generation and verify clean git tree
  api/common/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
  config/webhook/manifests.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-25838: Modify HardwareProfile API types to reference catalog entries
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25843: Implement catalog resolution and update controller firmware logic
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/firmware_resolution.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25841: Implement HardwareProfile validating webhook for catalog references
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  internal/cmd/operator/start_controller_manager.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25846: Update test fixtures and write tests for catalog resolution
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  internal/hardwaremanager/controller/firmware_resolution.go
  internal/hardwaremanager/controller/firmware_resolution_test.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25847: Update firmware-update-workflow documentation and run code generation
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
  docs/user-guide/firmware-update-workflow.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

Fix goconst lint errors in firmware_resolution.go
  api/common/zz_generated.deepcopy.go
  internal/hardwaremanager/controller/firmware_resolution.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address review feedback: CEL vendor guard, singleton cache fix, test coverage
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
  internal/hardwaremanager/controller/firmwarecatalog_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24433: implement EUS-to-EUS upgrade support (#3235)
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/upgrade.go
  internal/controllers/utils/upgrade_test.go
  test/fakeclient/fakeclient.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24444,CNF-24448: Add e2e envtest for MNO ClusterVersion upgrade
  Makefile
  docs/dev/e2e-test-overview.md
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/resources/mno_cv_upgrade/clusterinstance-defaults-v1.yaml
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
  test/resources/mno_cv_upgrade/policytemplate-defaults-v1.yaml
  test/resources/mno_cv_upgrade/pr-std.yaml
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24431: add upgrade business-rule validation to PR webhook
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/clustertemplate_controller.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address review feedback: fix validation gaps and error messages
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/clustertemplate_controller.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-18168: add proposal for MNO cluster scale in/out
  docs/proposals/mno-scale-in-out.md
Due: none

docs: address review feedback on scale in/out proposal
  docs/proposals/mno-scale-in-out.md
Due: none

Address review feedback from Missxiaoguo
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  internal/controllers/clustertemplate_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25717: Add PATCH 405 to provisioning request API (#3304)
  internal/service/provisioning/api/envtest/server_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23722: fix test coverage
  .coverage-thresholds.yaml
Due: none

CNF-23722: protect /metrics with authn/authz
  config/rbac/clusterrolebindings_services.yaml
  internal/service/alarms/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/serve.go
  internal/service/common/metrics/metrics.go
  internal/service/provisioning/serve.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23722: expose /metrics for service pods
  bundle/manifests/oran-o2ims-o2ims-services-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/services-monitor.yaml
  go.mod
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/serve.go
  internal/service/common/api/middleware/errors.go
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
  internal/service/common/metrics/metrics.go
  internal/service/common/metrics/metrics_test.go
  internal/service/common/metrics/suite_test.go
  internal/service/provisioning/serve.go
  internal/service/resources/serve.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-23722: add PrometheusRule alerts for auth failures
  bundle/manifests/oran-o2ims-o2ims-auth-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
  config/prometheus/auth-alerts.yaml
  config/prometheus/kustomization.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-23722: exclude database from HasMetrics predicate
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23722: document metrics and alerting
  docs/dev/prometheus-metrics.md
Due: none

CNF-23722: enable TLS certificate verification for /metrics
  bundle/manifests/oran-o2ims-alarms-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-artifacts-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-cluster-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-prometheus-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-provisioning-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-resource-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  config/prometheus/monitor.yaml
  config/prometheus/services-monitor.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-23722: exempt /metrics from audience-scoped token validation
  internal/service/alarms/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/serve.go
  internal/service/common/api/middleware/errors.go
  internal/service/common/metrics/metrics.go
  internal/service/provisioning/serve.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23722: reduce PrometheusRule RBAC to read-only
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-23722: expose /metrics for the operator
  bundle/manifests/oran-o2ims-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-24444,CNF-24448: Add e2e envtest for MNO ClusterVersion upgrade (#3302)
  Makefile
  docs/dev/e2e-test-overview.md
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/resources/mno_cv_upgrade/clusterinstance-defaults-v1.yaml
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
  test/resources/mno_cv_upgrade/policytemplate-defaults-v1.yaml
  test/resources/mno_cv_upgrade/pr-std.yaml
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23722: Add Prometheus metrics and alerts for authentication failures (#3002)
  .coverage-thresholds.yaml
  bundle/manifests/oran-o2ims-alarms-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-artifacts-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-cluster-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-o2ims-auth-alerts_monitoring.coreos.com_v1_prometheusrule.yaml
  bundle/manifests/oran-o2ims-prometheus-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-provisioning-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims-resource-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/prometheus/auth-alerts.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/prometheus/services-monitor.yaml
  config/rbac/clusterrolebindings_services.yaml
  config/rbac/role.yaml
  docs/dev/prometheus-metrics.md
  go.mod
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/serve.go
  internal/service/common/api/middleware/errors.go
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
  internal/service/common/metrics/metrics.go
  internal/service/common/metrics/metrics_test.go
  internal/service/common/metrics/suite_test.go
  internal/service/provisioning/serve.go
  internal/service/resources/serve.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-25902: Use default k8s audience for audience-exempt paths
  internal/constants/constants.go
  internal/service/alarms/api/overlay.yaml
  internal/service/alarms/serve.go
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address review feedback: guard default audience append
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/auth_k8s_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push
