Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-20-on-push: ((((any of: .tekton/o-cloud-manager-bundle-4-20-push.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: .konflux/Dockerfile.bundle)) or (any of: .konflux/overlay/***)) or (any of: bundle/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

Remove slot from nic f/w schema (#1142)
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

fix: propagate failed condition status to provisioning state and detail
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/hardware_utils_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: propagate failed condition status to provisioning state and detail (#1144)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/hardware_utils_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: propagate failed condition status to provisioning state and detail (#1145)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/hardware_utils_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Update markdownlint-cli2 version and resolve warnings
  .markdownlint-cli2.yaml
  README.md
  docs/cluster-configuration.md
  docs/enhancements/infrastructure-monitoring-service-api/alarms.md
  hack/install-markdownlint.sh
  hack/markdownlint.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Update markdownlint-cli2 version and resolve warnings (#1149)
  .markdownlint-cli2.yaml
  README.md
  docs/cluster-configuration.md
  docs/enhancements/infrastructure-monitoring-service-api/alarms.md
  hack/install-markdownlint.sh
  hack/markdownlint.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Update markdownlint-cli2 version and resolve warnings (#1154)
  .markdownlint-cli2.yaml
  README.md
  docs/cluster-configuration.md
  docs/enhancements/infrastructure-monitoring-service-api/alarms.md
  hack/install-markdownlint.sh
  hack/markdownlint.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Fix HardwareProfile CRD resource association and add validation
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

Refactor IsUpgradeRequested and improve error handling
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Refactor IsUpgradeRequested and improve error handling (#1159)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Refactor IsUpgradeRequested and improve error handling (#1162)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: Skip ClusterInstance re-rendering during active provisioning
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: Skip ClusterInstance re-rendering during active provisioning (#1157)
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: Skip ClusterInstance re-rendering during active provisioning (#1167)
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  test/e2e/e2e_suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Clear managedFields when reusing ClusterInstance for SSA
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/utils/provision.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Clear managedFields when reusing ClusterInstance for SSA (#1171)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/utils/provision.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Clear managedFields when reusing ClusterInstance for SSA (#1175)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/utils/provision.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Update catalog-deploy and catalog-undeploy Makefile targets and helpers
  Makefile
  hack/catalog-undeploy.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

Update catalog-deploy and catalog-undeploy Makefile targets and helpers (#1184)
  Makefile
  hack/catalog-undeploy.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: preserve NAR error and context messages in PR status
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: preserve NAR error and context messages in PR status (#1185)
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

fix: add macOS compatibility to hack scripts with longopt support
  hack/catalog-undeploy.sh
  hack/generate-catalog-deploy.sh
  hack/generate-catalog-index.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

introduce new labels (cpe fix)
  .tekton/build-pipeline.yaml
  .tekton/o-cloud-manager-4-21-pull-request.yaml
  .tekton/o-cloud-manager-4-21-push.yaml
  .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml
Due: o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

introduce new labels (cpe fix)
  .tekton/build-pipeline.yaml
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

fix: preserve NAR error and context messages in PR status (#1189)
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request

introduce new labels (cpe fix) (#1193)
  .tekton/build-pipeline.yaml
  .tekton/o-cloud-manager-4-21-pull-request.yaml
  .tekton/o-cloud-manager-4-21-push.yaml
  .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml
Due: o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

introduce new labels (cpe fix) (#1191)
  .tekton/build-pipeline.yaml
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
Due: o-cloud-manager-4-20-on-pull-request, o-cloud-manager-bundle-4-20-on-push

Split main README into sub-docs
  README.md
  docs/troubleshooting.md
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/cluster-api.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/inventory-api.md
  docs/user-guide/prereqs.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/template-overview.md
  docs/user-guide/upgrade.md
Due: none

Split main README into sub-docs (#1198)
  README.md
  docs/troubleshooting.md
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/cluster-api.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/inventory-api.md
  docs/user-guide/prereqs.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/template-overview.md
  docs/user-guide/upgrade.md
Due: none

Split main README into sub-docs (#1198) (#1199)
  README.md
  docs/troubleshooting.md
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/cluster-api.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/inventory-api.md
  docs/user-guide/prereqs.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/template-overview.md
  docs/user-guide/upgrade.md
Due: none
