Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

docs: improve IBI guide with detailed ISO creation steps and prerequisites
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/prereqs.md
Due: none

feat: add characteristics field to ManagedInfrastructureTemplate
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-6.yaml
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
  internal/service/artifacts/api/server_test.go
  internal/service/common/api/options.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Abandon in-progress firmware update when desired profile changes
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  test/e2e/mno_hw_configuration_test.go
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v1.yaml
Due: none

fix: cache GitHub API commit SHA lookups in e2e test setup
  test/utils/functions.go
Due: none

fix: add stabilization delay in MNO e2e test setup
  test/e2e/mno_hw_configuration_test.go
Due: none

chore: strengthen CodeRabbit review instructions
  .coderabbit.yaml
Due: none

feat: enable day2 firmware updates on IBI-provisioned nodes
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
Due: none

feat: add post-provisioning notification for IBI node management
  api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

fix: address CodeRabbit review comments for IBI post-provisioning
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

docs: add IBI resource selector and deprovisioning guidance
  docs/user-guide/ibi-based-cluster-provisioning.md
Due: none

fix: address CodeRabbit review - avoid hardcoding label name in deprovisioning guidance
  docs/user-guide/ibi-based-cluster-provisioning.md
Due: none

Add v11 db, repository and http handlers
  internal/service/cluster/collector/collector.go
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/serve.go
  internal/service/common/repo/repository.go
  internal/service/resources/api/api_suite_test.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/db/migrations/000001_baseline.up.sql
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/location.go
  internal/service/resources/db/models/o_cloud_site.go
  internal/service/resources/db/models/resource_pool.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
  internal/service/resources/db/repo/repository_test.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add new Location, OCloudSite and ResourcePool CRDs
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add collector watch-based Location, OCloudSite and ResourcePool data sources
  Makefile
  internal/service/common/clients/k8s/k8s.go
  internal/service/common/utils/persist.go
  internal/service/common/utils/persist_test.go
  internal/service/common/utils/repository.go
  internal/service/common/utils/utils_test.go
  internal/service/resources/collector/collector_hwplugin.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_locations_envtest_test.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add Location, OCloudSite and ResourcePool CRs teardown
  Makefile
  docs/user-guide/uninstall.md
  internal/controllers/envtest/undeploy_scenario_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix OCloudSite and ResourcePool controllers to check parent CR Ready status
  api/inventory/v1alpha1/inventory_constants.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add resource-server RBAC permissions for Location, OCloudSite and ResourcePool
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add v11 openapi and code generation
  Makefile
  hack/swagger-ui.sh
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/mock_generated/mock_client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/utils/constants.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Replace deprecated ListFunc/WatchFunc with context-aware variants
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix OCloudSite and ResourcePool controllers to check delayed parent CR creation
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add Location, OcloudSite and ResourcePool controllers
  api/inventory/v1alpha1/inventory_constants.go
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  config/rbac/role.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/testdata/.gitignore
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add Location, OCloudSite and ResourcePool CRDs to the CSV
  PROJECT
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  bundle/manifests/ocloud.openshift.io_locations.yaml
  bundle/manifests/ocloud.openshift.io_ocloudsites.yaml
  bundle/manifests/ocloud.openshift.io_resourcepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Fix hwplugin IV: fix controller
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_hostfirmwarecomponents_controller_test.go
  hwmgr-plugins/metal3/controller/resource_selection.go
  hwmgr-plugins/metal3/controller/resource_selection_test.go
Due: none

Remove ResourcePool management by hwmgr-plugins
  hwmgr-plugins/api/client/inventory/client.go
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/api/server/inventory/server.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/server/inventory_server.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/suite_test.go
Due: none

Refactor common hirerarchy logic for controllers
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove finalizers I: fix collectors
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/collector/envtest/collector_test.go
  internal/service/resources/collector/envtest/ocloudsite_test.go
  internal/service/resources/collector/envtest/ready_filter_test.go
  internal/service/resources/collector/envtest/resourcepool_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix reconciliation when a duplicate is deleted for Location, OCloudSite, ResourcePool CRs
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove finalizers II: cascade Location, OCloudSite and ResourcePool deletion
  internal/service/resources/db/migrations/000001_baseline.up.sql
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove duplication logic managed by Location, OCloudSite and ResourcePool controllers
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix hwplugin V: fix collector
  internal/service/resources/collector/collector_hwplugin.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

New model IV: update collectors
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/collector/envtest/collector_test.go
  internal/service/resources/collector/envtest/ocloudsite_test.go
  internal/service/resources/collector/envtest/ready_filter_test.go
  internal/service/resources/collector/envtest/resourcepool_test.go
  internal/service/resources/collector/envtest/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Detect duplicates of Location, OCloudSite and ResourcePool CRs
  api/inventory/v1alpha1/inventory_constants.go
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

New model V: remove unnecessary ResourceUUIDNamespace and OCloudSiteUUIDNamespace
  internal/service/resources/collector/collector_hwplugin.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Use metadata.name instead of spec.name for Location, OCloudSite and ResourcePool CRs
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  bundle/manifests/ocloud.openshift.io_locations.yaml
  bundle/manifests/ocloud.openshift.io_ocloudsites.yaml
  bundle/manifests/ocloud.openshift.io_resourcepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/collector/envtest/collector_test.go
  internal/service/resources/collector/envtest/ocloudsite_test.go
  internal/service/resources/collector/envtest/ready_filter_test.go
  internal/service/resources/collector/envtest/resourcepool_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Fix teardown (finalizers)
  Makefile
  docs/user-guide/uninstall.md
Due: none

Fix collector data race in data sources by adding atomic sync (generationID)
  internal/service/resources/collector/collector_hwplugin.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Filter DB updates by Ready status for Location, OCloudSite and ResourcePool CRs
  internal/service/common/utils/repository.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/collector/envtest/collector_test.go
  internal/service/resources/collector/envtest/ocloudsite_test.go
  internal/service/resources/collector/envtest/ready_filter_test.go
  internal/service/resources/collector/envtest/resourcepool_test.go
  internal/service/resources/collector/envtest/suite_test.go
  internal/service/resources/collector/hierarchy.go
  internal/service/resources/collector/hierarchy_suite_test.go
  internal/service/resources/collector/hierarchy_test.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
  internal/service/resources/db/repo/repository_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push
