Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

CNF-25328: redact DeploymentManager credentials from notification callbacks
  .coverage-thresholds.yaml
  internal/service/resources/collector/collector.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/converters_test.go
  internal/service/resources/db/models/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25328: restrict DeploymentManager API access to new o2ims-deployer role
  bundle/manifests/oran-o2ims-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-deployer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-deployer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/oran_o2ims_oauth_role_bindings.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

docs: add DD-004 requiring RBAC role updates when API endpoints change
  AGENTS.md
Due: none

CNF-25328: restrict DeploymentManager API access and redact credentials from notifications (#3003)
  .coverage-thresholds.yaml
  AGENTS.md
  bundle/manifests/oran-o2ims-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-deployer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-deployer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/oran_o2ims_oauth_role_bindings.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/collector/collector.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/converters_test.go
  internal/service/resources/db/models/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

docs: add proposal for must-gather log redaction
  docs/proposals/must-gather-log-redaction.md
Due: none

make log redaction default-on per review feedback
  docs/proposals/must-gather-log-redaction.md
Due: none

OCPBUGS-93226: fix provisioningDetails bounce on hardware completion
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

OCPBUGS-93226: fix provisioningDetails bounce on hardware completion (#3017)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24432: implement ClusterVersion upgrade lifecycle
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/upgrade.go
  internal/controllers/utils/upgrade_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

fix: pin SCRIPT_RUNNER_IMAGE to digest in FBC pipeline
  .tekton/fbc-pipeline.yaml
  renovate.json
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

fix: pin SCRIPT_RUNNER_IMAGE to digest in FBC pipeline
  .tekton/fbc-pipeline.yaml
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

fix: pin delve debugger to v1.27.0 in Dockerfile
  Dockerfile
Due: none

fix: pin delve debugger to v1.26.3 for Go 1.24 compatibility
  Dockerfile
Due: none

fix: pin SCRIPT_RUNNER_IMAGE to digest in FBC pipeline (#3024)
  .tekton/fbc-pipeline.yaml
  renovate.json
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

fix: pin SCRIPT_RUNNER_IMAGE to digest in FBC pipeline (#3025)
  .tekton/fbc-pipeline.yaml
Due: o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

CNF-23720: Add request context helpers and enrich auth log fields
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_rfc8705.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23721: Add tests for enriched auth failure log context
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Normalize clientIP to strip port from RemoteAddr
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address review feedback: use slog.WarnContext and add forensic JWT claims
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Use logging.AppendCtx for container/clientIp context enrichment
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23719: Enrich auth failure logs with container ID, IP, and payload context (#3013)
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/auth_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Restrict serviceaccounts/token RBAC rules with resourceNames
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/clusterrole_cluster_server.yaml
  config/rbac/clusterrole_resource_server.yaml
  config/rbac/kustomization.yaml
  config/rbac/kustomizeconfig.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-25323: Create TokenRequestTokenSource implementing oauth2.TokenSource
  internal/service/common/clients/tokenrequest.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Improve KubernetesAuthenticatorConfig test to verify audience propagation
  internal/service/common/auth/auth_k8s_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25324: Replace CachedFileTokenSource with TokenRequestTokenSource in inter-service clients
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/generated/mock_infrastructure_client.generated.go
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/internal/infrastructure/resourceserver.go
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/provider.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address review feedback: fix token expiry, audience guard, RBAC, and test assertion
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/clusterrole_cluster_server.yaml
  config/rbac/clusterrole_resource_server.yaml
  internal/service/common/auth/middleware.go
  internal/service/common/clients/tokenrequest.go
  internal/service/common/clients/tokenrequest_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Update test-client docs to include audience flags for token creation
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/api-overview.md
  docs/user-guide/environment-setup.md
  docs/user-guide/server-onboarding.md
Due: none

CNF-25325: Add audience validation to Kubernetes authenticator for inter-service auth
  internal/controllers/utils/constants.go
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25326: Add unit tests for TokenRequestTokenSource and audience validation
  .coverage-thresholds.yaml
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/clients/suite_test.go
  internal/service/common/clients/tokenrequest_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Address second review pass feedback
  api/common/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_cluster_server.yaml
  config/rbac/clusterrole_resource_server.yaml
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/serve.go
  internal/service/common/notifier/provider.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Regenerate bundle for alertmanager-client SA and add audience exemption tests
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  internal/service/common/auth/auth_k8s_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Remove dead serviceTokenSource parameter from NewClientFactory
  docs/user-guide/environment-setup.md
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/provider.go
  internal/service/common/notifier/provider_test.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add test for NewClientFactory to fix coverage threshold
  internal/service/common/notifier/provider_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove local dev env var overrides from alertmanager client
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add test for empty-audience TokenRequestTokenSource
  internal/service/common/clients/tokenrequest_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix audience context injection in Kubernetes authenticator
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/auth_k8s_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove TokenRequest from notifier callback path
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/provider.go
  internal/service/resources/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Exempt internal API paths from audience validation for alertmanager callbacks
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/overlay.yaml
  internal/service/alarms/serve.go
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Use least-privilege SA for alertmanager API calls
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/clusterrole_alertmanager_client.yaml
  config/rbac/clusterrolebindings_services.yaml
  config/rbac/kustomization.yaml
  config/rbac/service_accounts_services.yaml
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/common/clients/tokenrequest.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push
