Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

Fix OCloudSite and ResourcePool controllers to check delayed parent CR creation
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add Location, OCloudSite and ResourcePool CRDs to the CSV
  PROJECT
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  bundle/manifests/ocloud.openshift.io_locations.yaml
  bundle/manifests/ocloud.openshift.io_ocloudsites.yaml
  bundle/manifests/ocloud.openshift.io_resourcepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Filter DB updates by Ready status for Location, OCloudSite and ResourcePool CRs
  internal/service/common/utils/repository.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/collector/envtest/collector_test.go
  internal/service/resources/collector/envtest/ocloudsite_test.go
  internal/service/resources/collector/envtest/ready_filter_test.go
  internal/service/resources/collector/envtest/resourcepool_test.go
  internal/service/resources/collector/envtest/suite_test.go
  internal/service/resources/collector/hierarchy.go
  internal/service/resources/collector/hierarchy_suite_test.go
  internal/service/resources/collector/hierarchy_test.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
  internal/service/resources/db/repo/repository_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add Location, OcloudSite and ResourcePool controllers
  api/inventory/v1alpha1/inventory_constants.go
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  config/rbac/role.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/testdata/.gitignore
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix reconciliation when a duplicate is deleted for Location, OCloudSite, ResourcePool CRs
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix collector data race in data sources by adding atomic sync (generationID)
  internal/service/resources/collector/collector_hwplugin.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix OCloudSite and ResourcePool controllers to check parent CR Ready status
  api/inventory/v1alpha1/inventory_constants.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Refactor common hirerarchy logic for controllers
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Use metadata.name instead of spec.name for Location, OCloudSite and ResourcePool CRs
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  bundle/manifests/ocloud.openshift.io_locations.yaml
  bundle/manifests/ocloud.openshift.io_ocloudsites.yaml
  bundle/manifests/ocloud.openshift.io_resourcepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/collector/envtest/collector_test.go
  internal/service/resources/collector/envtest/ocloudsite_test.go
  internal/service/resources/collector/envtest/ready_filter_test.go
  internal/service/resources/collector/envtest/resourcepool_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Remove duplication logic managed by Location, OCloudSite and ResourcePool controllers
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add Location, OCloudSite and ResourcePool CRs teardown
  Makefile
  docs/user-guide/uninstall.md
  internal/controllers/envtest/undeploy_scenario_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add webhooks to manage duplication logic for Location, OCloudSite and ResourcePool CRs
  api/inventory/v1alpha1/location_webhook.go
  api/inventory/v1alpha1/ocloudsite_webhook.go
  api/inventory/v1alpha1/resourcepool_webhook.go
  config/webhook/manifests.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/webhook_integration_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Introduce indexers for Location, OCloudSites and ResourcePool CRs
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Add resource-server RBAC permissions for Location, OCloudSite and ResourcePool
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Remove ResourcePool management by hwmgr-plugins
  hwmgr-plugins/api/client/inventory/client.go
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/api/server/inventory/server.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/server/inventory_server.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/suite_test.go
Due: none

docs: fix typo and standardize formatting across user guides (#2006)
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/inventory-api.md
  docs/user-guide/prereqs.md
Due: none

docs: fix typo and standardize formatting across user guides
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/inventory-api.md
  docs/user-guide/prereqs.md
Due: none

CNF-22407: update o-cloud-manager version to 4.21.5 in release configuration
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

docs: fix typo and standardize formatting across user guides (#2009)
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/inventory-api.md
  docs/user-guide/prereqs.md
Due: none

docs: address PR review feedback for server onboarding guide
  docs/user-guide/server-onboarding.md
Due: none

Fix teardown (finalizers)
  Makefile
  docs/user-guide/uninstall.md
Due: none

New model I: use name based references in CRs.
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  bundle/manifests/ocloud.openshift.io_locations.yaml
  bundle/manifests/ocloud.openshift.io_ocloudsites.yaml
  bundle/manifests/ocloud.openshift.io_resourcepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

New model III: update controllers
  api/inventory/v1alpha1/inventory_constants.go
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/undeploy_scenario_test.go
  internal/controllers/envtest/webhook_integration_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
  internal/controllers/utils/hierarchy_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

New model II: remove unnecessary webhooks
  api/inventory/v1alpha1/location_webhook.go
  api/inventory/v1alpha1/ocloudsite_webhook.go
  api/inventory/v1alpha1/resourcepool_webhook.go
  config/webhook/manifests.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

New model VI: update doc
  .gitattributes
  docs/images/data-model-relationships.mmd
  docs/images/data-model-relationships.svg
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno2.yaml
  docs/samples/git-setup/clustertemplates/inventory/kustomization.yaml
  docs/samples/git-setup/clustertemplates/inventory/location.yaml
  docs/samples/git-setup/clustertemplates/inventory/ocloudsite.yaml
  docs/samples/git-setup/clustertemplates/inventory/oran-ns.yaml
  docs/samples/git-setup/clustertemplates/inventory/resourcepool.yaml
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
  docs/user-guide/uninstall.md
Due: none

New model V: remove unnecessary ResourceUUIDNamespace and OCloudSiteUUIDNamespace
  internal/service/resources/collector/collector_hwplugin.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

New model IV: update collectors
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/collector/envtest/collector_test.go
  internal/service/resources/collector/envtest/ocloudsite_test.go
  internal/service/resources/collector/envtest/ready_filter_test.go
  internal/service/resources/collector/envtest/resourcepool_test.go
  internal/service/resources/collector/envtest/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-22407: update o-cloud-manager version to 4.21.5 in release configuration (#2010)
  .konflux/overlay/release.in.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

docs: update sample configs with missing settings and XR8620t interfaces
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_provisioningrequest.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-ibi.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/policytemplates-defaults-v2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/clusterinstance-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/policytemplates-defaults-full-du-v1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/template-overview.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

docs: update sample configs with missing settings and XR8620t interfaces (#2015)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_provisioningrequest.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-ibi.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/policytemplates-defaults-v2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/clusterinstance-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/policytemplates-defaults-full-du-v1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/template-overview.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

docs: update sample configs with missing settings and XR8620t interfaces (#2016)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_provisioningrequest.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-ibi.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-v4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/policytemplates-defaults-v2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/clusterinstance-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/policytemplates-defaults-full-du-v1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/template-overview.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

docs: add firmware update workflow guide for Day-0 and Day-2 (#2007)
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/firmware-update-workflow.md
Due: none

docs: add firmware update workflow guide for Day-0 and Day-2
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/firmware-update-workflow.md
Due: none

docs: add firmware update workflow guide for Day-0 and Day-2 (#2017)
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/firmware-update-workflow.md
Due: none

docs: address PR review feedback for server onboarding guide
  docs/user-guide/server-onboarding-orig.md
Due: none

docs: write server onboarding guide
  docs/user-guide/server-onboarding.md
Due: none

docs: improve gitops-layout-and-setup.md clarity
  docs/user-guide/gitops-layout-and-setup.md
Due: none
