Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

CNF-21985: refactor skip-verify + CA bundle logic
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/common/notifier/provider.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: wire operator to fetch and propagate cluster TLS profile
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: add controller-runtime-common dependency for TLS profile support
  go.mod
  go.sum
  internal/controllers/utils/constants.go
  internal/controllers/utils/tls_profile.go
  vendor/github.com/openshift/controller-runtime-common/LICENSE
  vendor/github.com/openshift/controller-runtime-common/pkg/tls/controller.go
  vendor/github.com/openshift/controller-runtime-common/pkg/tls/tls.go
  vendor/github.com/openshift/library-go/LICENSE
  vendor/github.com/openshift/library-go/pkg/crypto/OWNERS
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/crypto/rotation.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: standardize log attribute keys to camelCase (#2857)
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/service/common/api/middleware/filtering.go
  internal/service/common/notifier/notifier.go
  internal/service/common/repo/notifications.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: [ORAN] Central TLS Profile consistency (#2693)
  .coverage-thresholds.yaml
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  docs/dev/tls-configuration.md
  go.mod
  go.sum
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/testdata/.gitignore
  internal/controllers/envtest/tls_profile_watcher_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/common/notifier/notifier_test.go
  internal/service/common/notifier/provider.go
  vendor/github.com/openshift/controller-runtime-common/LICENSE
  vendor/github.com/openshift/controller-runtime-common/pkg/tls/controller.go
  vendor/github.com/openshift/controller-runtime-common/pkg/tls/tls.go
  vendor/github.com/openshift/library-go/LICENSE
  vendor/github.com/openshift/library-go/pkg/crypto/OWNERS
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/crypto/rotation.go
  vendor/modules.txt
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-25110: move TemplateParam constants to shared constants package
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/constants/constants.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils_test.go
  internal/service/artifacts/api/server.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore: disable CodeRabbit auto-pause after 5 commits
  .coderabbit.yaml
Due: none

CNF-25110: move TemplateParam constants to shared constants package (#2865)
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/constants/constants.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils_test.go
  internal/service/artifacts/api/server.go
  test/utils/vars.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix duplicate bmh log key in resource collector
  internal/service/resources/collector/collector_hwmgr.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

ci: add 0.5% tolerance to coverage threshold checks
  hack/check-coverage.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

chore: disable CodeRabbit auto-pause after 5 commits (#2868)
  .coderabbit.yaml
Due: none

ci: add 0.5% tolerance to coverage threshold checks (#2871)
  hack/check-coverage.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix duplicate bmh log key in resource collector (#2867)
  internal/service/resources/collector/collector_hwmgr.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix remaining non-camelCase log attribute keys
  AGENTS.md
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/hardwaremanager/controller/helpers.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24428: Update SNO upgrade examples to inline upgradeDefaults format (#2800)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_clustertemplate.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-v4-Y-Z+1-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/sno-ran-du/upgrade-defaults-v1.yaml
  docs/user-guide/upgrade.md
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-25111: consolidate InputError onto shared typed-errors package
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/errors.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix remaining non-camelCase log attribute keys (#2877)
  AGENTS.md
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/hardwaremanager/controller/helpers.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25111: consolidate InputError onto shared typed-errors package (#2881)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/errors.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24443: Add upgrade type detection and dispatch in handleUpgrade
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/constants.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

ci: bump GitHub Actions to Node.js 24-compatible versions
  .github/workflows/kustomize-validation.yml
Due: none

CNF-24948: remove INSECURE_SKIP_VERIFY environment variable
  internal/controllers/utils/constants.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/common/db/migration.go
  internal/tool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24948: remove INSECURE_SKIP_VERIFY environment variable (#2898)
  internal/controllers/utils/constants.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/common/db/migration.go
  internal/tool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: retry database connection at startup instead of crashing
  internal/service/common/db/migration.go
  internal/service/common/db/postgres.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25166: remove obsolete local-dev Makefile targets and manifests
  Makefile
  internal/service/alarms/internal/db/README.md
  internal/service/alarms/k8s/README.md
  internal/service/alarms/k8s/base/endpoints.yaml
  internal/service/alarms/k8s/base/kustomization.yaml
  internal/service/alarms/k8s/base/service.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

fix: retry database connection at startup instead of crashing (#2859)
  internal/service/common/db/migration.go
  internal/service/common/db/postgres.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-25166: remove obsolete local-dev Makefile targets and manifests (#2903)
  Makefile
  internal/service/alarms/internal/db/README.md
  internal/service/alarms/k8s/README.md
  internal/service/alarms/k8s/base/endpoints.yaml
  internal/service/alarms/k8s/base/kustomization.yaml
  internal/service/alarms/k8s/base/service.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24959: redact secret values in must-gather collection
  must-gather/gather
Due: none

CNF-24960: use UBI 9 AppStream nodejs in markdownlint image
  .markdownlint-cli2.yaml
  hack/install-markdownlint.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24954: add govulncheck periodic scan and Makefile target
  .github/workflows/govulncheck.yml
  Makefile
Due: none

address CodeRabbit review: persist-credentials and pagination
  .github/workflows/govulncheck.yml
Due: none

CNF-24960: use UBI 9 AppStream nodejs in markdownlint image (#2907)
  .markdownlint-cli2.yaml
  hack/install-markdownlint.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24947: remove image reference from inventory spec
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ocloud.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24957: enable TLS and safe DSN construction for PostgreSQL
  .coverage-thresholds.yaml
  internal/service/common/db/migration.go
  internal/service/common/db/postgres.go
  internal/service/common/db/postgres_test.go
  internal/service/common/db/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Enable Prometheus metrics collection for the operator
  bundle/manifests/oran-o2ims-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  docs/dev/prometheus-metrics.md
  docs/images/metrics-snapshot.png
  internal/controllers/provisioningrequest_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24953: harden container security contexts across all deployments
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

Use Recreate strategy for postgres deployment
  internal/controllers/inventory_controller_postgres.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Make postgres init script GRANT idempotent
  internal/service/postgres/files/init.sh
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24962: remove alertmanager webhook permission from manager-role
  api/common/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24959: redact secret values in must-gather collection (#2906)
  must-gather/gather
Due: none
