Repository openshift-kni/oran-o2ims: changes, and which Tekton pipelines are due for each by the changed paths.
All: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request, o-cloud-manager-fbc-4-19-on-push, o-cloud-manager-fbc-4-20-on-pull-request, o-cloud-manager-fbc-4-20-on-push

Path conditions:
  o-cloud-manager-4-19-on-pull-request: ((((((((((any of: .tekton/o-cloud-manager-4-19-pull-request.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-19-on-push: ((((((((((any of: .tekton/o-cloud-manager-4-19-push.yaml) or (any of: .tekton/o-cloud-manager-4-19-build.yaml)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-20-on-pull-request: ((((((((((((any of: .tekton/o-cloud-manager-4-20-pull-request.yaml) or (any of: .tekton/build-pipeline.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: .konflux/Dockerfile)) or (any of: go.mod)) or (any of: go.sum)) or (any of: main.go)) or (any of: api/***)) or (any of: hack/***)) or (any of: internal/***)) or (any of: pkg/***)) or (any of: vendor/***)
  o-cloud-manager-4-21-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-21-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-4-22-on-push: ((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-4-22-push.yaml)) or (any of: api/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: main.go)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: vendor/***)
  o-cloud-manager-bundle-4-21-on-pull-request: ((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  o-cloud-manager-fbc-4-19-on-push: (((((any of: .tekton/o-cloud-manager-fbc-4-19-build.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml)) or (any of: .tekton/o-cloud-manager-fbc-4-19-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-pull-request: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)
  o-cloud-manager-fbc-4-20-on-push: ((((any of: .tekton/fbc-pipeline.yaml) or (any of: .tekton/o-cloud-manager-fbc-4-20-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .konflux/Dockerfile.catalog)) or (any of: .konflux/catalog/bundle.builds.in.yaml)

CNF-24943: Use parsed hostname for callback auth type determination (#2807)
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23717: Add groups logging to Authorizer on success
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23718: Document scope-to-groups-to-RBAC architecture
  AGENTS.md
  internal/service/alarms/api/openapi.yaml
  internal/service/artifacts/api/openapi.yaml
  internal/service/cluster/api/openapi.yaml
  internal/service/provisioning/api/openapi.yaml
  internal/service/resources/api/openapi.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23717: avoid logging full user.Info struct in Authorizer
  internal/service/common/auth/auth.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24950: Block cross-host redirects on notifier HTTP clients (#2808)
  .coverage-thresholds.yaml
  internal/service/common/notifier/event_test.go
  internal/service/common/notifier/notifier_test.go
  internal/service/common/notifier/provider.go
  internal/service/common/notifier/provider_test.go
  internal/service/common/notifier/suite_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-23716: Add scope-to-groups-to-RBAC observability and documentation (#2775)
  AGENTS.md
  internal/service/alarms/api/openapi.yaml
  internal/service/artifacts/api/openapi.yaml
  internal/service/cluster/api/openapi.yaml
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_test.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/resources/api/openapi.yaml
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24944: Add callback target validation
  internal/controllers/utils/utils.go
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/alarms/serve.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/common/api/utils.go
  internal/service/common/api/utils_test.go
  internal/service/common/utils/config.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24946: embed service RBAC in CSV for namespace-portable installs
  Makefile
  bundle/manifests/oran-o2ims-alarms-server-subject-access-reviewer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-alarms-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-alarms-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-alarms-server_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/oran-o2ims-alarms-server_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/oran-o2ims-alarms-server_v1_serviceaccount.yaml
  bundle/manifests/oran-o2ims-alertmanager_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-artifacts-server-subject-access-reviewer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-artifacts-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-artifacts-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-artifacts-server_v1_serviceaccount.yaml
  bundle/manifests/oran-o2ims-cluster-server-subject-access-reviewer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-cluster-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-cluster-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-cluster-server_v1_serviceaccount.yaml
  bundle/manifests/oran-o2ims-hardwaremanager-server-subject-access-reviewer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-hardwaremanager-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-hardwaremanager-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-hardwaremanager-server_v1_serviceaccount.yaml
  bundle/manifests/oran-o2ims-provisioning-server-subject-access-reviewer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-provisioning-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-provisioning-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-provisioning-server_v1_serviceaccount.yaml
  bundle/manifests/oran-o2ims-resource-server-subject-access-reviewer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-resource-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-resource-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-resource-server_v1_serviceaccount.yaml
  bundle/manifests/oran-o2ims-subject-access-reviewer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alertmanager.yaml
  config/rbac/role.yaml
  hack/catalog-undeploy.sh
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24944: Add callback target validation (#2815)
  internal/controllers/utils/utils.go
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/alarms/serve.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/common/api/utils.go
  internal/service/common/api/utils_test.go
  internal/service/common/utils/config.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24426: Simplify upgrade template for SNO upgrade (#2799)
  api/provisioning/v1alpha1/clustertemplate_types.go
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_clustertemplates.yaml
  config/crd/bases/clcm.openshift.io_clustertemplates.yaml
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24946: replace runtime RBAC creation with static manifests (#2817)
  Makefile
  bundle/manifests/oran-o2ims-alertmanager_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-alertmanager_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/clusterrole_alertmanager.yaml
  config/rbac/clusterrole_artifacts_server.yaml
  config/rbac/clusterrole_cluster_server.yaml
  config/rbac/clusterrole_hardwaremanager_server.yaml
  config/rbac/clusterrole_provisioning_server.yaml
  config/rbac/clusterrole_resource_server.yaml
  config/rbac/clusterrole_subject_access_reviewer.yaml
  config/rbac/clusterrolebindings_services.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  config/rbac/role_alarms_server.yaml
  config/rbac/rolebinding_alarms_server.yaml
  config/rbac/service_accounts_services.yaml
  hack/catalog-undeploy.sh
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24759: standardize error logging to use slog.Any
  AGENTS.md
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/logging.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/utils/allocated_node.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/cluster/api/server.go
  internal/service/common/api/middleware/middleware.go
  internal/service/common/db/postgres.go
  internal/service/resources/api/server.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix panic in inventory controller when LoggerFromContext finds no logger
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24759: standardize error logging to use slog.Any (#2823)
  AGENTS.md
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/logging.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/utils/allocated_node.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/cluster/api/server.go
  internal/service/common/api/middleware/middleware.go
  internal/service/common/db/postgres.go
  internal/service/resources/api/server.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

Fix panic in inventory controller when LoggerFromContext finds no logger (#2824)
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use slog.String for known string-typed log attributes
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/listener/pg_listener.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use slog.String for UUID log attributes
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/resources/collector/collector.go
  internal/service/resources/listener/alarms_sync.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24945: Fix error logging and improve NetworkPolicy test coverage
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24945: Scope NetworkPolicy RBAC to namespace-scoped Role
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/networkpolicy_role.yaml
  config/rbac/networkpolicy_role_binding.yaml
  config/rbac/role.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24945: Add NetworkPolicy to restrict pod ingress traffic
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24945: Add NetworkPolicy to restrict pod ingress traffic (#2812)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/networkpolicy_role.yaml
  config/rbac/networkpolicy_role_binding.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push, o-cloud-manager-bundle-4-21-on-pull-request

CNF-24707: use slog.String for known string-typed log attributes (#2830)
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/listener/pg_listener.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: use slog.String for UUID log attributes (#2831)
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/resources/collector/collector.go
  internal/service/resources/listener/alarms_sync.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: standardize error log key to "error"
  AGENTS.md
  internal/controllers/provisioningrequest_setup.go
  internal/service/alarms/cmd/migrate.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/artifacts/cmd/serve.go
  internal/service/cluster/cmd/migrate.go
  internal/service/cluster/cmd/serve.go
  internal/service/common/api/middleware/filtering.go
  internal/service/provisioning/cmd/serve.go
  internal/service/resources/cmd/migrate.go
  internal/service/resources/cmd/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: add String() method to AsyncEventType
  internal/service/cluster/collector/collector_k8s.go
  internal/service/common/async/store.go
  internal/service/common/async/store_test.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: fix missed eventType slog.Any in store.go
  internal/service/common/async/store.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: add String() method to AsyncEventType (#2832)
  internal/service/cluster/collector/collector_k8s.go
  internal/service/common/async/store.go
  internal/service/common/async/store_test.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24707: standardize error log key to "error" (#2829)
  AGENTS.md
  internal/controllers/provisioningrequest_setup.go
  internal/service/alarms/cmd/migrate.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/artifacts/cmd/serve.go
  internal/service/cluster/cmd/migrate.go
  internal/service/cluster/cmd/serve.go
  internal/service/common/api/middleware/filtering.go
  internal/service/provisioning/cmd/serve.go
  internal/service/resources/cmd/migrate.go
  internal/service/resources/cmd/serve.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24956: add clusterName validation and reserved namespace checks
  .coverage-thresholds.yaml
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  docs/troubleshooting.md
  docs/user-guide/cluster-provisioning.md
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/validation/cluster_name.go
  internal/validation/cluster_name_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24956: fix CodeRabbit review findings
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/validation/cluster_name.go
  internal/validation/cluster_name_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

docs: expand AGENTS.md logging conventions
  AGENTS.md
Due: none

docs: expand AGENTS.md logging conventions (#2846)
  AGENTS.md
Due: none

CNF-24707: standardize log attribute keys to camelCase
  internal/hardwaremanager/controller/allocatednode_controller.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/hostfirmwaresettings_manager.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/service/common/api/middleware/filtering.go
  internal/service/common/notifier/notifier.go
  internal/service/common/repo/notifications.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-24956: add clusterName validation and reserved namespace checks (#2840)
  .coverage-thresholds.yaml
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  docs/troubleshooting.md
  docs/user-guide/cluster-provisioning.md
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/validation/cluster_name.go
  internal/validation/cluster_name_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: increase notifier coverage
  .coverage-thresholds.yaml
  internal/service/common/notifier/notifier_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: document TLS
  docs/dev/tls-configuration.md
Due: none

CNF-21985: add RBAC, CSV annotation, and regenerate bundle
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: o-cloud-manager-bundle-4-21-on-pull-request

CNF-21985: add unit and envtest tests for TLS profile
  Makefile
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/testdata/.gitignore
  internal/controllers/envtest/tls_profile_watcher_test.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api_test.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push

CNF-21985: make all TLS functions profile-aware via env-var wrappers
  internal/controllers/utils/utils.go
  internal/service/alarms/internal/alertmanager/api.go
Due: o-cloud-manager-4-19-on-pull-request, o-cloud-manager-4-19-on-push, o-cloud-manager-4-20-on-pull-request, o-cloud-manager-4-21-on-push, o-cloud-manager-4-22-on-push
